@import "../../helper/helper";
@import "../../helper/custom-property";

.hero-wrapper__content {
  padding-left: 0;
  padding-right: 0;
}

.hero {
  position: relative;
  display: flex;

  @media print {
    background-color: transparent;
  }

  &.hero--with-content {
    &:before {
      content: '';
      background-color: var(--new-darker-primary-color);
      position: absolute;
      z-index: var(--z-bottom);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;

      .theme--term & {
        background-color: var(--color-lighter-gray);
      }
    }
  }
}

.hero__region {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: var(--z-middle);
  color: var(--color-white);
  width: 100%;
  max-width: 50em;
  min-height: 18em;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2.5em;

  @media print {
    color:#000;
  }


  @media (--breakpoint-md) {
    min-height: 28em;
  }

  .theme--frontpage & {
    min-height: 22em;

    @media (--breakpoint-md) {
      min-height: 39em;
      padding-bottom: 7em;
    }
  }

  .theme--help &,
  .theme--fhrs & {
    padding-bottom: 1em;

    @media (--breakpoint-md) {
      padding-bottom: 7em;
    }
  }

  .theme--help & {
    padding-top: 1em;

    @media (--breakpoint-md) {
      padding-top: 4em;
      min-height: 23em;
    }
  }

  .theme--search & {
    @mixin responsive-declaration padding-right, 1em, 4em;
    @mixin responsive-declaration padding-left, 1em, 4em;

    max-width: var(--content-max-width);
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 14em;

    @media (--breakpoint-md) {
      padding-top: 4em;
      padding-bottom: 2em;
    }
  }

  .theme--term & {
    @mixin responsive-declaration padding-right, 1em, 4em;
    @mixin responsive-declaration padding-left, 1em, 4em;

    max-width: var(--content-max-width);
    padding-top: 5.5em;
    padding-bottom: 2em;
    min-height: 14em;
    align-items: flex-start;
  }

  .theme--news-alerts .hero.hero--with-content & {
    padding-top: 4em;
  }

  a {
    color: var(--color-white);

    @media print {
      background-color: var(--color-black);
    }
  }

  p {
    @mixin responsive-declaration font-size, 1em, 1.3em;

    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0;

    &:empty {
      display: none;
    }
  }
}

/* Hero title */
.hero__title {
  text-align: center;

  .theme--search & {
    :--heading {
      margin-bottom: 0;

      @media (--breakpoint-sm) {
        margin-bottom: 0.8em;
      }
    }
  }

  .theme--term & {
    @media (--breakpoint-md) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    h1 {
      padding: 0;
    }
  }
}

.hero__title h1,
.hero__heading,
.hero__content h2 {
  @mixin responsive-declaration font-size, 2.2em, 3.9em;

  position: relative;
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.8em;
  padding-right: 1em;
  padding-left: 1em;

  @media print {
    color:#000;
  }


  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.5em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23ffffff' /%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 20px 15px;
    width: 80%;
    height: 10px;
    display: block;
    transform: translateX(-50%);

    .theme--search &,
    .theme--term & {
      display: none;
    }
  }

  .theme--term & {
    @mixin responsive-declaration font-size, 1.8em, 2em;
    @mixin responsive-declaration line-height, 1.2, 1.1;

    color: var(--dark-primary-color);
    margin-bottom: 0;
  }
}

/* Hero background */
.hero__background {
  position: absolute !important;
  z-index: var(--z-bottom) !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;

  &.hero__background--image {
    background-size: cover;
    background-position: 50% 50%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: var(--color-black);
      opacity: 0.45;
    }
  }

  &.hero__background--pattern {
    background-image: url('/themes/custom/fsa/src/img/background/pattern.svg');
    background-size: 1024px 426.6666666px;
    background-position: 50% 50%;
    background-repeat: repeat;
    opacity: 0.1;

    @media (--breakpoint-md) {
      background-size: 1440px 600px;
    }

    @media (--breakpoint-lg) {
      background-size: 1920px 800px;
    }

    .theme--term & {
      display: none;
    }

    .svg {
      display: none;
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0.1;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Hero content */
.hero__content {
  text-align: center;
  width: 100%;

  .hero--with-content & {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}

/* Hero cta */
.hero__cta {
  @mixin responsive-declaration padding-top, 1em, 2em;

  text-align: center;

  .button {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--dark-primary-color);
    transition: box-shadow var(--transition-enter-fast);

    :--not-touch &:--enter {
      background-color: var(--color-white);
      color: var(--dark-primary-color);
      box-shadow: var(--box-shadow-active);
    }
  }
}

/* Hero secondary-navigation */
.hero__secondary-navigation {
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  width: 100%;
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hero:not(.hero--with-content) & {
    border-bottom: 1px solid var(--color-light-gray);
  }

  .hero.hero--with-content & {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--z-top);
    color: var(--color-white);

    .theme--term & {
      background-color: var(--color-white);
    }
  }
}

/* Breadcrumb */
.breadcrumb {
  position: relative;
  z-index: var(--z-top);
  padding-top: 1em;
  padding-bottom: 1em;

  @media (--breakpoint-lg) {
    min-height: 3.5em;
  }
}

.breadcrumb__item {
  align-items: center;
  color: var(--color-black);
  display: inline-block;
  font-size: 0.9em;
  font-weight: 400;
  padding-right: 1.5em;
  position: relative;
  text-align: left;

  &:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0.3em;
    right: 0.55em;
    bottom: 0.25em;
    width: 1px;
    text-align: center;
    background-color: var(--color-black);
    transform: skew(-25deg);
  }
}

.breadcrumb__link {
  text-decoration: underline;
  color: var(--dark-primary-color);

  .hero.hero--with-content & {
    color: var(--color-white);

    .theme--term & {
      color: var(--dark-primary-color);
    }
  }

  :--not-touch &:--enter {
    text-decoration: underline;
  }
}

/* Manage subcriptions */
.manage-subcriptions {
  padding-top: 0;
  padding-bottom: 1em;
  margin: 0 auto;
  flex: 0 0 auto;

  @media (--breakpoint-sm) {
    padding-bottom: 0;
    padding-top: 0;
  }

  @media (--breakpoint-md) {
    margin: 0;
  }

  a {
    position: relative;
    color: var(--dark-primary-color);
    font-size: 0.8889em;
    text-decoration: underline;

    &.gear {
      padding-left: 1.5em;
    }

    &.gear:before {
      content: '';
      position: absolute;
      left: -0.5em;
      top: 50%;
      width: 1.75em;
      height: 1.75em;
      transform: translateY(-50%);
      background-image: var(--icon-gear-primary);
      background-position: 50% 50%;
      background-size: 60% auto;
      background-repeat: no-repeat;
      background-color: var(--color-white);
      border-radius: 50%;

      .hero:not(.hero--with-content) & {
        background-image: var(--icon-gear-white);
        background-color: var(--dark-primary-color);
      }
    }

    @media (--breakpoint-lg) {
      font-size: 0.9em;
    }

    :--not-touch &:--enter {
      text-decoration: underline;
    }
  }
}

/* New hero styling */
.hero__content-container {
  width: 100%;

  /* Wrapper */
  .hero__region-wrapper {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    min-height: 22em;
    overflow: hidden;

    /* Tablet */
    @media (--breakpoint-sm) {
      flex-direction: row;
      height: 150%;
    }

    /* Desktop small */
    @media (--breakpoint-md) {
      height: 120%;
    }
  }

  /* Blue content area */
  .hero__region {
    background-color: var(--new-darker-primary-color);
    border-radius: 100% 100% 0 0;
    margin-top: auto;
    min-height: auto;
    padding: 1.5em 3em;
    right: 10%;
    width: 120%;

    /* Custom breakpoint (680px) to keep radius "arc" as per design. */
    @media (min-width: 42.5em) {
      border-radius: 75% 75% 0 0;
      right: 0;
      width: 100%;
    }

    /* Tablet */
    @media (--breakpoint-sm) {
      border-radius: 0 75% 75% 0;
      margin: 0;
      max-width: 100%;
      padding: 0 4em 1em 3em;
      top: -15%;
      width: 50%;
    }

    /* Desktop small */
    @media (--breakpoint-lg) {
      border-radius: 0 50% 50% 0;
      padding: 0 2em 2em 4em;
      width: 43%;
    }
  }

  /* Views content wrapper */
  .hero__content {
    /* Tablet */
    @media (--breakpoint-sm) {
      text-align: left;
    }

    /* Desktop small */
    @media (--breakpoint-lg) {
      padding: 6em 3em 5em 0;
    }
  }

  /* Background image */
  .hero__background.hero__background--image {
    background-size: 100%;
    background-position: 50% -1em;

    /* Mobile (large) */
    @media (--breakpoint-xs) {
      background-position: 50% -2.5em;
    }

    /* Tablet */
    @media (--breakpoint-sm) {
      background-position: 15em -5em;
    }

    /* Desktop medium */
    @media (--breakpoint-lg) {
      background-position: 20em -5em;
    }

    &::after {
       background-color: transparent;
    }
  }

  /* Heading */
  .hero__heading {
    font-size: 2.0em;

    &::after {
      bottom: -0.4em;

      @media (--breakpoint-sm) {
        width: 100%;
      }
    }

    /* Tablet */
    @media (--breakpoint-sm) {
      padding: 0;
      text-align: left;
    }

    /* Desktop small */
    @media (--breakpoint-md) {
      font-size: 2.75em;
    }

    /* Desktop medium */
    @media (--breakpoint-lg) {
      font-size: 3.8em;
    }
  }

  .hero__title h1 {
    /* Tablet */
    @media (--breakpoint-sm) {
      padding: 0;
      padding-right: 1em;
      text-align: left;
    }

    &::after {
      bottom: -0.4em;

      @media (--breakpoint-sm) {
        left: 46%;
        width: 90%;
      }
    }
  }

  /* Content text */
  .hero__region p {
    font-size: 0.9em;
    margin: 0 auto;
    max-width: 90%;
    padding: 0;

    /* Custom breakpoint (680px) to keep radius "arc" as per design. */
    @media (min-width: 42.5em) {
      max-width: 100%;
    }

    /* Tablet */
    @media (--breakpoint-sm) {
      text-align: left;
    }

    /* Desktop medium */
    @media (--breakpoint-lg) {
      font-size: 1.1em;
    }
  }

  /* Adjustments when no background photo present */
  &.no-photo {
    .hero__region-wrapper {
      min-height: auto;

      /* Tablet */
      @media (--breakpoint-sm) {
        min-height: 22em;
      }
    }

    .hero__region {
      margin-top: 0;

      /* Tablet */
      @media (--breakpoint-sm) {
        margin: 0;
      }
    }

    .hero__background--pattern {
      background: #fff;
      opacity: 1;

      /* Tablet */
      @media (--breakpoint-sm) {
        background-image: url('/themes/custom/fsa/src/img/background/pattern.svg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: repeat;
        opacity: 0.1;
      }
    }
  }
}

/* Landing page tweaks */
.theme--news-alerts,
.theme--content-type-business-guidance,
.theme--content-type-about-us,
.theme--subscribe,
.theme--help-centre {
  /* Hero container */
  .hero__content-container {

    /* Blue content area */
    .hero__region {
      /* Desktop medium */
      @media (--breakpoint-lg) {
        border-radius: 0 50% 50% 0;
      }
    }

    .hero__region-wrapper {
      /* Desktop small */
      @media (--breakpoint-md) {
        height: 150%;
      }
    }

    /* Block content within region wrapper */
    .hero__region-wrapper__content {
      /* Tablet */
      @media (--breakpoint-sm) {
        position: relative;
        top: -8%;
      }

      /* Desktop small */
      @media (--breakpoint-md) {
        top: -5%;
      }
    }

    /* Background image */
    .hero__background.hero__background--image {
      background-position: 50% -5.5em;

      /* Mobile large */
      @media (--breakpoint-xs) {
        background-position: 50% -8em;
      }

      /* Tablet */
      @media (--breakpoint-sm) {
        background-position: 19em -8em;
      }

      /* Desktop medium */
      @media (--breakpoint-lg) {
        background-position: 18em -4em;
        background-size: 87%;
      }
    }

    /* Views content wrapper */
    .hero__content {
      /* Desktop small */
      @media (--breakpoint-lg) {
        padding: 2em 3em 0 0;
      }
    }

    /* CTA button within hero. */
    .hero__cta {
      /* Tablet */
      @media (--breakpoint-sm) {
        padding-top: 1em;
        text-align: left;
      }

      a.button {
        padding: 0.5em 1.25em;
      }
    }
  }
}

/* News and alerts. */
.theme--news-alerts,
.theme--subscribe {
  /* Override legacy rule. */
  .hero.hero--with-content .hero__region {
    padding-top: 2em;

    /* Tablet */
    @media (--breakpoint-sm) {
      padding-top: 4em;
    }
  }
}

/* Food safety and hygiene. */
.theme--content-type-business-guidance {
  /* Hero container */
  .hero__content-container {

    .hero__content {
      /* Desktop medium */
      @media (--breakpoint-lg) {
        padding: 2em 3em 1em 0;
      }
    }

    /* Region wrapper */
    .hero__region-wrapper {
      min-height: 25em;
    }

    /* Block content within region wrapper */
    .hero__region-wrapper__content {
      /* Tablet */
      @media (--breakpoint-sm) {
        top: 0;
      }
    }

    /* Background image */
    .hero__background.hero__background--image {
      background-position: 50% 0;

      /* Mobile large */
      @media (--breakpoint-xs) {
        background-position: 50% -3em;
      }

      /* Tablet */
      @media (--breakpoint-sm) {
        background-position: 15em -7em;
      }

      /* Desktop medium */
      @media (--breakpoint-lg) {
        background-position: 15em -12em;
        background-size: 100%;
      }
    }
  }
}

/* About */
.theme--content-type-about-us {
  .hero__region::after {
    bottom: -0.3em;
  }

  .hero--with-content::before,
  .hero__region {
    background-color: var(--dark-primary-color);
  }

  /* Block content within region wrapper */
  .hero__region-wrapper__content {
    /* Tablet */
    @media (--breakpoint-sm) {
      top: 0;
    }
  }
}

/* Adjust container for all landing pages. */
.theme--lander,
.theme--subscribe,
.theme--help-centre
{
  /* Allows the border radius arc to hide behind content divs */
  .layout--content-top,
  .layout--main {
    position: relative;
    z-index: 25;
  }
}

/* Contact us */
.theme--help-centre {
  .hero__content h2 {
    /* Tablet */
    @media (--breakpoint-sm) {
      padding: 0;
      padding-right: 1em;
      text-align: left;
    }

    &::after {
      bottom: -0.4em;

      @media (--breakpoint-sm) {
        left: 46%;
        width: 90%;
      }
    }
  }

  .sub-navigation {
    @media (--breakpoint-md) {
      margin: 0;
      transform: translateY(0);
    }

    > .menu {
      @media (--breakpoint-md) {
        padding-bottom: 6em;
      }
    }
  }
}

/* Alignment of breadcrumbs and subscription link on desktop */
#block-breadcrumbs {
  /* Tablet */
  @media (--breakpoint-sm) {
    display:inline-block;
  }
}
#block-manage-subscription-cta {
  /* Tablet */
  @media (--breakpoint-sm) {
    float: right;
    margin-top: 1em;
  }
}
