<div class="layout hero-wrapper">
  <div class="layout__container">
     <div class="layout__content hero-wrapper__content">
        <div class="hero hero--with-content">
           <div class="hero__secondary-navigation">
              <div class="breadcrumb">
                 <div class="breadcrumb__item">
                    <a href="#hero" class="breadcrumb__link">Home</a>
                 </div>
                 <div class="breadcrumb__item">
                    About us
                 </div>
              </div>
           </div>
           <div class="hero__background hero__background--pattern">
           </div>
           <div class="hero__region">
              <div class="hero__content">
                <h1 class="hero__heading">About us</h1>
                <p>Our job is to use our expertise and influence so that people can trust that the food they buy and eat is safe and honest. </p>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>