/*Breakpoints
Using postcss-custom-media
Plugin documentation:
https://github.com/postcss/postcss-custom-media*/
@custom-media --breakpoint-xxs (min-width: 20em);
@custom-media --breakpoint-xs (min-width: 30em);
@custom-media --breakpoint-sm (min-width: 50em);
@custom-media --breakpoint-md (min-width: 60em);
@custom-media --breakpoint-lg (min-width: 80em);
@custom-media --breakpoint-xl (min-width: 120em);

@custom-media --breakpoint-sm-max (max-width: 50em - 0.1);

/*Custom selectors
Using postcss-custom-selectors
Plugin documentation:
  https://github.com/postcss/postcss-custom-selectors*/
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@custom-selector :--content-field .field-body, .field__field_document, .field__field_team_contacts;

@custom-selector :--enter :hover, :focus, :active;

@custom-selector :--not-touch html:not(.is-touch);

@custom-selector :--not-js html:not(.js);

@custom-selector :--not-modern html:not(.is-modern);

/*PostCSS Mixins
Using postcss-mixins
Plugin documentation:
  https://github.com/postcss/postcss-mixins*/
@define-mixin responsive-declaration $property, $valueMin, $valueMax {
  $(property): $valueMin;

  @media (--breakpoint-xs) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 1);
  }

  @media (--breakpoint-sm) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 2);
  }

  @media (--breakpoint-md) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 3);
  }

  @media (--breakpoint-lg) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 4);
  }
}

@define-mixin reset-font-style {
  font-family: var(--font-family-content);
  letter-spacing: 0;
  font-size: 1em;
  @mixin responsive-declaration line-height, 1.6, 1.4;
  font-weight: 400;
  text-transform: none;
}
