<div class="temporary-messaging__wrapper">
  <div class="temporary-messaging">
    <i class="temporary-messaging__icon"></i>
    <p>This is a message alert for the website. This is a link to take the user to another page etc.</p>
  </div>
</div>

<div class="temporary-messaging__wrapper temporary-messaging__wrapper--warning">
  <div class="temporary-messaging">
    <i class="temporary-messaging__icon"></i>
    <p>This is a message alert for the website. This is a link to take the user to another page etc. Aliquam lobortis. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.</p>
  </div>
</div>
