@import "../../helper/helper";
@import "../../helper/custom-property";

/* Navigation wrapper */
.navigation-wrapper {
  position: absolute;
  z-index: var(--z-topmost);
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  padding-top: 0;
  box-shadow: none;
  transition:
    box-shadow var(--transition-enter),
    transform var(--transition-enter);

  @media (--breakpoint-sm) {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    height: auto;
    transform: none;
    min-height: 2.6em;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    transition: none;
    box-shadow: none;
    display: block;
    flex-direction: column;
  }

  @media (--breakpoint-lg) {
    min-height: 3em;
  }

  &.is-open {
    transform: translateX(-20%);
    box-shadow: var(--box-shadow);

    @media (--breakpoint-sm) {
      transform: none;
      box-shadow: none;
    }
  }

  &.has-open-submenu {
    .navigation-wrapper__content {
      overflow: hidden;
    }
  }

  .toolbar-vertical & {
    height: calc(100vh - 39px);

    @media (--breakpoint-sm) {
      height: auto;
    }
  }
}

.navigation-wrapper__container {
  margin: 0;
  max-width: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  height: 100%;

  @media (--breakpoint-sm) {
    background-color: var(--dark-secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: visible;
    height: auto;
    margin: 0 auto;
    max-width: var(--max-width);
  }
}

.navigation-wrapper__content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.navigation-wrapper__content:after {
  @media (--breakpoint-sm) {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--color-light-gray);
    transition:
      opacity 0.12s ease-in-out,
      transform 0.12s ease-in-out;
  }
}

.navigation-wrapper__main {
  position: relative;
  z-index: var(--z-top);
  margin-top: 6em;
  flex: 1 1 auto;

  @media (--breakpoint-sm) {
    background-color: var(--dark-secondary-color);
    overflow: visible;
    padding-bottom: 0;
    margin-top: 0;
  }

  & > div {
    @media (--breakpoint-sm) {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }
}

/* Mobile navigation header */
.navigation-mobile-header {
  background-color: var(--dark-secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6em;
  flex: 0 0 auto;
  box-shadow: inset 0 -3px var(--color-green);

  @media (--breakpoint-sm) {
    display: none;
  }
}

.navigation-mobile-header__button {
  padding: 1.75em;

  .svg {
    width: 1.5em;
    height: 1.5em;

    path,
    rect {
      fill: var(--color-white);
    }
  }
}

.navigation-mobile-header__content {
  display: flex;
  align-content: center;
  justify-content: flex-end;

  @media (--breakpoint-sm) {
    display: none;
  }
}

/* Mobile navigation footer */
.navigation-mobile-footer {
  background-color: var(--dark-secondary-color);
  position: relative;
  z-index: var(--z-middle);
  flex: 0 0 auto;

  @media (--breakpoint-sm) {
    display: none;
  }

  .header__region {
    background-color: var(--color-white);

    ul.links {
      padding: 0.75em 1.75em;
      padding-bottom: 1.5em;

      li {
        &:not(:last-child) {
          margin-right: 1em;

          &:after {
            color: var(--dark-primary-color);
          }
        }

        a {
          display: block;
          padding: 0.25em 0.25em;
          color: var(--dark-primary-color);

          &.is-active {
            color: var(--color-black);
            font-weight: 400;
            border-bottom: 3px solid var(--color-green);
          }
        }
      }
    }
  }

  .footer__links {
    text-align: left;
    padding: 0;

    & > ul {
      padding: 1em 0;

      & > li {
        display: block;
        margin: 0;

        & > a {
          padding: 0.5em 2.5em;
          color: var(--color-white);
          display: block;
          text-transform: none;
          text-decoration: underline;
        }
      }
    }
  }
}

.navigation-mobile-footer__content {
  p {
    padding: 0.75em 2.5em;
    padding-top: 1.75em;
    border-top: 1px solid var(--color-light-gray);
  }

  .social-media__list {
    text-align: center;
  }
}

/* Navigation */
.navigation {
  flex: 1 1 auto;
}

/* Navigation header */
.navigation__header {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid var(--color-light-gray);

  @media (--breakpoint-sm) {
    display: none;
    padding: 0;
    margin: 2em 0;
    border-right: 1px solid var(--color-light-gray);
  }

  .navigation__menu.navigation__menu--level-2 > & {
    display: flex;

    @media (--breakpoint-sm) {
      flex: 0 1 25%;
      margin: 2em 0;
      display: none;
    }
  }
}

/* Navigation back link */
.navigation__back-link {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='14px' viewBox='0 0 22 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 45.1 %2843504%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EPage 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='FHRS' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='About-Ratings' transform='translate%28-510.000000, -35.000000%29' fill='%23007c75'%3E%3Cg id='Header' transform='translate%28461.000000, 0.000000%29'%3E%3Cpath d='M57.2136083,35.2887967 C57.4093541,35.4817608 57.5067454,35.7227358 57.5067454,35.963706 C57.5067454,36.2046762 57.4093492,36.4456464 57.2136083,36.6386153 L52.7639959,41.0240316 L70.0222244,41.0240316 C70.5598054,41.0240316 71,41.4579707 71,41.9879123 C71,42.517854 70.5598054,42.9517931 70.0222244,42.9517931 L52.7639959,42.9517931 L57.2126305,47.3372094 C57.6041318,47.7231472 57.6041318,48.3255727 57.2126305,48.7105466 C56.8211291,49.0964845 56.2100194,49.0964845 55.8194958,48.7105466 L49,41.9879605 L55.8194958,35.2887485 C56.2109971,34.9037505 56.8221069,34.9037505 57.2135838,35.2887485 L57.2136083,35.2887967 Z' id='Page-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: left 50% top 50%;
  background-size: 1.25em auto;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  cursor: pointer;
  padding: 2.5em;

  @media (--breakpoint-sm) {
    display: none;
  }
}

/* Navigation item */
.navigation__item {
  list-style: none;
  padding: 0;
  margin: 0;

  &.navigation__item--heading {
    flex: 1 1 100%;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font-family-content);
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    border-right: 0 !important;

    @media (--breakpoint-sm) {
      margin: 0 !important;
      text-transform: none;
    }

    & > a.navigation__link {
      border-bottom: 0 !important;
      color: var(--primary-color);

      &:hover {
        color: var(--dark-primary-color);
        text-decoration: underline;
      }
    }
  }
}

/* Navigation link */
.navigation__link {
  appearance: none;
  background-color: var(--color-white);
  display: block;
  font-family: var(--font-family-content);
  width: 100%;
  text-align: left;

  .navigation__item.has-child > & {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='5px' height='8px' viewBox='0 0 5 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Enav-arrow-icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='nav-arrow-icon' transform='translate%282.500000, 4.000000%29 rotate%28-90.000000%29 translate%28-2.500000, -4.000000%29 translate%28-1.000000, 2.000000%29' fill-rule='nonzero' fill='%23007C75'%3E%3Cpath d='M3.499965,4 C3.374458,4 3.248957,3.9517682 3.152982,3.8555781 L0.144167,0.840018 C-0.048056,0.6473643 -0.048056,0.3368705 0.144167,0.1444903 C0.33639,-0.04816344 0.646189,-0.04816344 0.836767,0.1444903 L3.5,2.8136931 L6.163233,0.1444903 C6.355456,-0.04816344 6.665255,-0.04816344 6.855833,0.1444903 C7.048056,0.3371441 7.048056,0.6476379 6.855833,0.840018 L3.847018,3.8555781 C3.751043,3.9517682 3.625535,4 3.500035,4 L3.499965,4 Z' id='nav-arrow'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: right 1em top 50%;
    background-repeat: no-repeat;
    background-size: 0.5em auto;

    @media (--breakpoint-sm) {
      background-image: var(--icon-dropdown-down-white);
      background-position: right 1em top 50%;
      background-repeat: no-repeat;
      background-size: 0.5em auto;
      padding-right: 2em;
    }
  }
}

/* First level menu */
.navigation__menu.navigation__menu--level-1 {
  margin: 0;
  padding: 0;

  @media (--breakpoint-sm) {
    display: flex;
    justify-content: center;
  }
}

/* First level item */
.navigation__item.navigation__item--level-1 {
  @media (--breakpoint-sm) {
    flex: 1 1 0;
    list-style: none;
    margin-bottom: 0;
    text-align: left;
  }

  /* Home item */
  &:first-child {
    @media (--breakpoint-sm) {
      flex: 0 0 auto;
      padding-left: 1em;
    }

    @media (--breakpoint-md) {
      padding-left: 2em;
    }
  }

  /* Last child */
  &:last-child {
    @media (--breakpoint-md) {
      padding-right: 1em;
    }

    @media (--breakpoint-lg) {
      padding-right: 3.5em;
    }
  }

  &.has-child {
    &:after {
      @media (--breakpoint-sm) {
        content: '';
        position: absolute;
        z-index: var(--z-under);
        top: -7777px;
        left: 0;
        right: 0;
        height: 300vh;
        background-color: var(--color-black);
        display: block;
        opacity: 0;
        pointer-events: none;
        transition:
          opacity var(--transition-enter),
          top 0s step-end 0.2s;
      }
    }

    html:not(.js) &:--enter {
      &:after {
        @media (--breakpoint-sm) {
          top: 100%;
          opacity: 0.4;
          transition:
            opacity var(--transition-enter) 0.05s,
            top 0s step-end 0.05s;
        }
      }
    }
  }
}

/* First level link */
.navigation__link.navigation__link--level-1 {
  display: block;
  padding: 0.75em 1.75em;
  text-align: left;
  font-weight: 600;
  text-transform: none;
  transform: translateX(-50%);
  transition:
    box-shadow var(--transition-enter),
    transform var(--transition-enter);

  @media (--breakpoint-sm) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1em 1em;
    text-align: left;
    font-size: 0.8999em;
    font-weight: 400;
    color: var(--color-white);
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: 0;
    transform: translateX(0%);
    box-shadow: none;
    text-decoration: none !important;
  }

  &.is-open,
  :--not-touch .navigation__item:not(:first-child):--enter > &,
  .navigation__item.active-trail:not(:first-child) > &,
  :--not-touch &:--enter {
    color: var(--color-black);
    background-color: var(--color-lighter-gray);
    box-shadow: inset 0.5em 0 0 0 var(--dark-primary-color);

    @media (--breakpoint-sm) {
      background-color: var(--secondary-color);
      box-shadow: none;
      color: var(--color-white);
      transition:
        opacity var(--transition-enter-fast),
        transform var(--transition-enter-fast);
    }

    &:before {
      @media (--breakpoint-sm) {
        background-color: var(--dark-secondary-color) !important;
      }
    }
  }

  .navigation-wrapper.is-open & {
    transform: translateX(0%);
    transition:
      box-shadow var(--transition-enter),
      transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  }

  .navigation__item.navigation__item--level-1:first-child > & {
    color: var(--primary-color);

    @media (--breakpoint-sm) {
      color: transparent;
      position: relative;
      width: 4em;
    }

    @media (--breakpoint-md) {
      width: 6em;
    }

    :--not-touch &:--enter {
      color: var(--color-black);

      @media (--breakpoint-sm) {
        color: transparent;
      }
    }

    &:after {
      @media (--breakpoint-sm) {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: var(--icon-home-white);
        background-position: 50% 50%;
        background-size: 1em 1em;
        background-repeat: no-repeat;
      }
    }
  }

  .navigation__item.navigation__item--level-1:not(:last-child) > &:before {
    @media (--breakpoint-sm) {
      content: '';
      position: absolute;
      top: 0.5em;
      bottom: 0.5em;
      right: 0;
      width: 1px;
      background-color: var(--secondary-color);
    }
  }

  .navigation__item.navigation__item--level-1 > &.is-active:after,
  .navigation__item.navigation__item--level-1.menu-item--active-trail > &:after {
    @media (--breakpoint-sm) {
      content: '';
      position: absolute;
      right: 0.5em;
      left: 0.5em;
      bottom: 0.5em;
      height: 5px;
      background-color: var(--color-green);
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition:
        opacity 0.12s ease-in-out,
        transform 0.12s ease-in-out;
    }
  }
}

.navigation__expand-button.navigation__expand-button--level-1 {
  @media (--breakpoint-sm) {
    display: none;
  }
}

/* Second level menu */
.navigation__menu.navigation__menu--level-2 {
  padding: 0;
  position: fixed;
  top: -7777px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateX(2em);
  transition:
    transform var(--transition-enter),
    opacity var(--transition-enter),
    top 0s step-end 0.2s;

  @media (--breakpoint-sm) {
    position: absolute;
    background-color: var(--color-white);
    display: flex;
    flex-flow: row wrap;
    opacity: 0;
    padding-bottom: 2em;
    transform: translateY(-0.25em);
  }

  @media (--breakpoint-md) {
    width: 100%;
  }

  &:after {
      @media (--breakpoint-sm) {
        background: var(--color-black);
        content: '';
        height: 300vh;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 100%;
        transition:
          opacity var(--transition-enter),
          top 0s step-end 0.2s;
        width: 100%;
        z-index: var(--z-under);
      }
    }

  &.is-open {
    background-color: var(--color-white);
    z-index: var(--z-middle);
    top: 6em;
    bottom: 0;
    opacity: 1;
    overflow: auto;
    transform: translateX(0);
    transition:
      transform var(--transition-enter),
      opacity var(--transition-enter),
      top 0s step-end 0s;

    @media (--breakpoint-sm) {
      top: 100%;
      bottom: auto;
      height: auto;
      overflow: visible;
    }

    &:after {
      @media (--breakpoint-sm) {
        opacity: 0.4;
        transition:
          opacity var(--transition-enter) 0.05s,
          top 0s step-end 0.05s;
      }
    }
  }

  .navigation__item:hover > & {
    @media (--breakpoint-sm) {
      top: 100%;
      height: auto;
      opacity: 1;
      transform: translateY(0);
      transition:
        transform var(--transition-enter) 0.2s,
        opacity var(--transition-enter) 0.2s,
        top 0s step-end 0.2s;
    }
  }

  /* &.is-open {
    background-color: var(--color-white);
    z-index: var(--z-middle);
    top: -6em;
    height: calc(100vh - 6em);

    @media (--breakpoint-sm) {
      top: 100%;
      height: auto;
      opacity: 1;
      transform: translateY(0em);
      transition:
        transform var(--transition-enter),
        opacity var(--transition-enter),
        top 0s step-end 0.0s;
    }
  } */
}

/* Second level item */
.navigation__item.navigation__item--level-2 {
  list-style: none;

  @media (--breakpoint-sm) {
    flex: 0 1 50%;
    flex: 0 1 calc(100% / 2);
    padding: 0 2em;
    margin: 2em 0;
    margin-bottom: 0;
    box-shadow: 1px 0 0 0 var(--color-light-gray);
  }

  @media (--breakpoint-md) {
    flex: 0 1 33.333%;
    flex: 0 1 calc(100% / 3);
  }

  @media (--breakpoint-lg) {
    flex: 0 1 25%;
    flex: 0 1 calc(100% / 4);
  }
}

/* Second level link */
.navigation__link.navigation__link--level-2 {
  @mixin responsive-declaration line-height, 1.7, 1.6;

  display: block;
  padding: 0.75em 1.75em;
  color: var(--dark-primary-color);
  font-weight: 600;
  text-transform: none;
  transition:
    box-shadow var(--transition-enter),
    transform var(--transition-enter);

  @media (--breakpoint-sm) {
    padding: 1em 0;
    padding-top: 0;
    display: block;
    color: var(--color-black);
  }

  :--not-touch a&:--enter {
    color: var(--color-black);
    text-decoration: underline;
  }

  :--not-touch button&:--enter {
    color: var(--color-black);
    background-color: var(--color-lighter-gray);
    box-shadow: inset 0.5em 0 0 0 var(--dark-primary-color);
    text-decoration: none;

    @media (--breakpoint-sm) {
      color: var(--color-black);
      background-color: transparent;
      box-shadow: none;
    }
  }

  :--not-touch button&[role="heading"]:--enter {
    outline: none;
  }

  .navigation__header & {
    :--not-touch &:--enter {
      color: var(--darker-primary-color);
      background-color: transparent;
      box-shadow: none;
      text-decoration: underline;
    }
  }
}

/* Assistive heading, hide completely in mobile. */
.navigation__heading.navigation__heading--level-2 {
  display: none;

  @media (--breakpoint-sm) {
    display: inline;
  }
}

/* Third level menu */
.navigation__menu.navigation__menu--level-3 {
  padding: 0;
  position: absolute;
  top: -7777px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateX(2em);
  transition:
    transform var(--transition-enter),
    opacity var(--transition-enter),
    top 0s step-end 0.2s;

  @media (--breakpoint-sm) {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;
    transition: none;
  }

  &.is-open {
    background-color: var(--color-white);
    z-index: var(--z-middle);
    top: 0;
    bottom: 0;
    overflow: auto;
    opacity: 1;
    transform: translateX(0);
    transition:
      transform var(--transition-enter),
      opacity var(--transition-enter),
      top 0s step-end 0s;

    @media (--breakpoint-sm) {
      top: auto;
      bottom: 0;
      height: auto;
      overflow: visible;
    }
  }
}

/* Third level link */
.navigation__link.navigation__link--level-3 {
  @mixin responsive-declaration line-height, 1.7, 1.6;

  display: block;
  padding: 0.75em 1.75em;
  color: var(--dark-primary-color);
  font-weight: 600;
  text-transform: none;
  transition:
    box-shadow var(--transition-enter),
    transform var(--transition-enter);

  :--not-touch &:--enter {
    color: var(--color-black);
    background-color: var(--color-lighter-gray);
    box-shadow: inset 0.5em 0 0 0 var(--dark-primary-color);
    text-decoration: none;

    @media (--breakpoint-sm) {
      color: var(--darker-primary-color);
      background-color: transparent;
      box-shadow: none;
      text-decoration: underline;
    }
  }

  @media (--breakpoint-sm) {
    text-transform: none;
    font-weight: 400;
    position: relative;
    padding: 0.25em 1em;
    display: block;
  }

  &:before {
    @media (--breakpoint-sm) {
      content: '\00bb';
      position: absolute;
      top: 0.15em;
      left: 0;
    }
  }

  .navigation__header & {
    :--not-touch &:--enter {
      color: var(--darker-primary-color);
      background-color: transparent;
      box-shadow: none;
      text-decoration: underline;
    }
  }
}

/* Utility menu */
.menu-utility-wrapper {
  display: block;
  position: absolute;
  top: 6em;
  right: 0;
  left: 0;
  height: 6em;

  @media (--breakpoint-sm) {
    display: block;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    height: auto;
  }

  .navigation-wrapper & {
    @media (--breakpoint-sm) {
      display: none;
    }
  }

  .header & {
    display: none;

    @media (--breakpoint-sm) {
      display: block;
    }
  }

  h3 {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }
}

.menu-utility {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 600;
  padding: 0 1.75em;
  padding-top: 0.75em;
  margin: 0;

  @media (--breakpoint-sm) {
    flex-direction: row;
    padding-top: 0;
    font-size: 0.8889em;
  }

  .header & {
    display: none;

    @media (--breakpoint-sm) {
      display: flex;
    }
  }
}

.menu-utility > li {
  list-style: none;
  margin-bottom: 1em;

  @media (--breakpoint-sm) {
    margin-bottom: 0;
  }
}

.menu-utility > li > a {
  padding: 0.5em 1em;
  padding-left: 2em;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}

.menu-utility > li:last-child > a {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Efhrs-search-icon-header%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='fhrs-search-icon-header'%3E%3Cg%3E%3Ccircle id='Oval' fill='%232A0247' cx='15' cy='15' r='15'%3E%3C/circle%3E%3Cpath d='M14.1249043,17.4998359 C11.7081921,17.4998359 9.74997266,15.5416165 9.74997266,13.1249043 C9.74997266,10.7081921 11.7081921,8.74997266 14.1249043,8.74997266 C16.5416165,8.74997266 18.4998359,10.7081921 18.4998359,13.1249043 C18.4998359,15.5416165 16.5416165,17.4998359 14.1249043,17.4998359 M21.7434103,19.5061796 L19.0257027,16.7884721 C19.7913158,15.765613 20.2498086,14.5003828 20.2498086,13.1249043 C20.2498086,9.74220715 17.5076014,7 14.1249043,7 C10.7422072,7 8,9.74220715 8,13.1249043 C8,16.5076014 10.7422072,19.2498086 14.1249043,19.2498086 C15.5003828,19.2498086 16.766488,18.7913158 17.7884721,18.0257027 L20.5061796,20.7434103 C20.8482992,21.0855299 21.4012906,21.0855299 21.7434103,20.7434103 C22.0855299,20.4012906 22.0855299,19.8482992 21.7434103,19.5061796' id='Fill-1' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.menu-utility > li:first-child > a {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Econtact-icon-header%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='contact-icon-header'%3E%3Cg%3E%3Ccircle id='Oval' fill='%232A0247' cx='15' cy='15' r='15'%3E%3C/circle%3E%3Cg id='contact-icon' transform='translate%2810.000000, 7.000000%29' fill='%23FFFFFF'%3E%3Cpolygon id='Fill-1' points='6.63056 0 10.54992 2.2632 4.34 13.01888 0.42064 10.75568'%3E%3C/polygon%3E%3Cpolygon id='Fill-2' points='0.00064 16 3.89936 13.7256 0.08192 11.45184'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:--not-touch .menu-utility > li > a:--enter {
  text-decoration: underline;
}

/* Tab row */
.tab-row {
  @mixin responsive-declaration margin-right, -1em, -4em;
  @mixin responsive-declaration margin-left, -1em, -4em;

  background-color: var(--color-lighter-gray);
  box-shadow: inset 0 -0.1em 0 0 var(--color-light-gray);
  display: flex;
  justify-content: center;

  & > ul {
    @mixin responsive-declaration padding-right, 1em, 4em;
    @mixin responsive-declaration padding-left, 1em, 4em;

    margin: 0;
    display: flex;
    align-items: flex-end;
    padding: 0;
    overflow-x: scroll;
    max-width: var(--max-width-small);
    width: 100%;
    justify-content: space-between;

    @media (--breakpoint-md) {
      overflow-x: visible;
    }

    li {
      list-style: none;
      font-weight: 600;
      margin: 0;
      flex: 0 0 auto;

      @media (--breakpoint-md) {
        flex: 1 1 auto;
      }

      a,
      span {
        display: block;
        padding: 0.5em;
        padding-bottom: 1em;
        text-align: center;
        box-shadow: inset 0 -0.2em 0 0 transparent;
      }

      a {
        transition:
          color var(--transition-enter),
          box-shadow var(--transition-enter);

        :--not-touch &:--enter {
          box-shadow: inset 0 -0.2em 0 0 var(--dark-primary-color);
        }

        &.is-active {
          color: var(--color-black);
          box-shadow: inset 0 -0.2em 0 0 var(--color-black);

          :--not-touch &:--enter {
            color: var(--dark-primary-color);
            box-shadow: inset 0 -0.2em 0 0 var(--dark-primary-color);
            text-decoration: none;
          }
        }
      }
    }
  }

  &.tab-row--capitalize {
    text-transform: uppercase;
  }
}

/* Subnavigattion */
.sub-navigation {
  margin-left: -1em;
  margin-right: -1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-light-gray);

  @media (--breakpoint-xs) {
    margin-left: -1.75em;
    margin-right: -1.75em;
    padding-bottom: 1.25em;
  }

  @media (--breakpoint-sm) {
    margin-left: -2.5em;
    margin-right: -2.5em;
    padding-bottom: 1.5em;
  }

  @media (--breakpoint-md) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -3.5em;
    transform: translateY(-3.5em);
    border-bottom: none;
    padding-bottom: 0;
  }
}

.sub-navigation ul {
  margin: 0;
  padding: 0;
}

.sub-navigation li {
  list-style: none;
}

.sub-navigation a {
  transition:
    background-color var(--transition-enter-fast),
    color var(--transition-enter-fast),
    border-color var(--transition-enter-fast);
}

.sub-navigation > .menu {
  position: relative;

  @media (--breakpoint-md) {
    display: flex;
    justify-content: center;
    max-width: var(--max-width-medium);
    margin: 0 auto;
    padding-right: 3.25em;
    padding-left: 3.25em;
    padding-bottom: 8em;
  }

  @media (--breakpoint-lg) {
    padding-right: 4em;
    padding-left: 4em;
  }
}

.sub-navigation > .menu > li {
  flex: 1 1 0;
}

.sub-navigation > .menu > li > a {
  @mixin responsive-declaration font-size, 1rem, 2rem;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 50%;
  box-shadow: var(--box-shadow);
  z-index: var(--z-middle);
  font-weight: 600;
  padding: 0.75em 1em;
  padding: calc(0.75em + 8px) 1em;
  display: block;
  background-color: var(--color-white);
  text-align: center;

  @media (--breakpoint-md) {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: auto;
    padding: 1em 2em;
  }
}

.sub-navigation > .menu > li:first-child > a {
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;

  @media (--breakpoint-md) {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}

.sub-navigation > .menu > li:last-child > a {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;

  @media (--breakpoint-md) {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}

.sub-navigation > .menu > li.menu-item--active-trail > a,
.sub-navigation > .menu > li > a.is-active {
  z-index: var(--z-bottom);
}

:--not-touch .sub-navigation > .menu > li:not(.menu-item--active-trail) > a:not(.is-open):--enter {
  color: var(--dark-secondary-color);
}

.sub-navigation > .menu > li > a.is-open:not(.is-closed),
.sub-navigation > .menu > li.menu-item--active-trail > a:not(.is-closed),
.sub-navigation > .menu > li > a.is-active:not(.is-closed) {
  position: relative;
  background-color: var(--dark-secondary-color);
  color: var(--color-white);
}

.sub-navigation > .menu > li > a:before {
  @mixin responsive-declaration right, 1.5rem, 3.5rem;
  @mixin responsive-declaration left, 1.5rem, 3.5rem;
  @mixin responsive-declaration bottom, 0.75rem, 1.75rem;

  content: '';
  position: absolute;
  height: 4px;
  background-color: var(--color-green);
  transform: scaleX(0);
  opacity: 0;
  transform-origin: 0% 50%;
  transition:
    opacity 0.12s ease-in-out,
    transform 0.12s ease-in-out;
}

.sub-navigation > .menu > li > a:after {
  content: '';
  border: 0.4em solid transparent;
  border-top-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
}

.sub-navigation > .menu > li > a.is-open:not(.is-closed):after,
.sub-navigation > .menu > li.menu-item--active-trail > a:not(.is-closed):after,
.sub-navigation > .menu > li > a.is-active:not(.is-closed):after {
  border-top-color: var(--dark-secondary-color);
  transform: translateX(-50%) translateY(94%);
}

.sub-navigation > .menu > li > a.is-open:not(.is-closed):before,
.sub-navigation > .menu > li.menu-item--active-trail > a:not(.is-closed):before,
.sub-navigation > .menu > li > a.is-active:not(.is-closed):before {
  transform: scaleX(1);
  opacity: 1;
  transition:
    opacity var(--transition-enter),
    transform var(--transition-enter);
}

.sub-navigation > .menu > li > .menu {
  padding-top: 1em;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  display: none;

  @media (--breakpoint-md) {
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 2em;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
}

.sub-navigation > .menu > li.menu-item--active-trail > .menu,
.sub-navigation > .menu > li > .menu.is-open {
  display: flex;
  flex-direction: column;

  @media (--breakpoint-md) {
    flex-direction: row;
  }
}

.sub-navigation > .menu > li > .menu.is-closed {
  display: none;
}

.sub-navigation > .menu > li > .menu > li {
  position: relative;
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--breakpoint-md) {
    margin: 0 0.25em;
    margin-bottom: 0;
  }
}

.sub-navigation > .menu > li > .menu > li:not(.menu-item--active-trail) {
  overflow: hidden;
}

.sub-navigation > .menu > li > .menu > li > a {
  position: relative;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  padding: 0.75em 1em;
  background-color: var(--color-white);
  color: var(--dark-primary-color);
  border: 4px solid var(--color-light-gray);
  z-index: var(--z-middle);
  transition:
    background-color var(--transition-enter),
    border-color var(--transition-enter);

  :--not-touch &:--enter {
    border-color: var(--dark-primary-color);
  }

  @media (--breakpoint-md) {
    padding: 1em;
  }
}

.sub-navigation > .menu > li > .menu > li.menu-item--active-trail > a {
  border-color: var(--dark-secondary-color);
  background-color: var(--dark-secondary-color);
  color: var(--color-white);

  :--not-touch &:--enter {
    border-color: var(--dark-secondary-color);
    background-color: var(--dark-secondary-color);
    color: var(--color-white);
  }
}

:--not-touch .sub-navigation > .menu > li > .menu > li > a:not(.is-active):--enter {
  color: var(--dark-primary-color);
}

.sub-navigation > .menu > li > .menu > li > a.is-active {
  background-color: var(--dark-secondary-color);
  border-color: var(--dark-secondary-color);
  color: var(--color-white);
}

.sub-navigation > .menu > li > .menu > li > a.is-active:after {
  display: none;

  @media (--breakpoint-md) {
    content: '';
    border: 0.7em solid transparent;
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    border-top-color: var(--dark-secondary-color);
    transform: translateX(-50%) translateY(100%);
  }
}
