<div class="document-menu-wrapper">
  <nav class="document-menu">
    <h3 class="document-menu__heading">In this Guide</h3>
    <ol class="document-menu__list">
      <li>
        <a href="#" class="active">1. EU law and European Commission guidance on the law</a>
      </li>
      <li>
        <a href="#">2. Principles on which registration of an operation are considered</a>
      </li>
      <li>
        <a href="#">3. Guidance for charity and groups groups providing food </a>
      </li>
    </ol>
  </nav>
  <div class="content-toolbar">
    <div class="content-toolbar__item content-toolbar__item--pdf">
      <a href="#share" class="print__link--pdf" target="_blank">View entire guide as PDF</a>
    </div>
    <div class="content-toolbar__item content-toolbar__item--print">
      <button class="page-print-trigger">Print entire guide</button>
    </div>
  </div>
</div>
