<div class="header__topbar">
  <div class="phase-banner">
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your
      <a href="#language-bar">feedback</a> will help us to improve it.</span>
  </div>
  <div class="header__region">
    <div class="language-switcher-language-url" id="block-languageswitcher" role="navigation">

      <h2>Language switcher</h2>

      <ul class="links">
        <li hreflang="en" data-drupal-link-query="{&quot;navref&quot;:&quot;quicklink&quot;}" data-drupal-link-system-path="<front>"
          class="en">
          <a href="#language-bar" class="language-link is-active" hreflang="en">English</a>
        </li>
        <li hreflang="cy" class="cy">
          <a href="#language-bar" class="language-link" hreflang="cy">Cymraeg</a>
        </li>
      </ul>
    </div>

  </div>

</div>