@import "../../helper/helper";
@import "../../helper/custom-property";

.topics {
  @mixin responsive-declaration padding-bottom, 1em, 2em;
}

.topics__header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0;

  @media (--breakpoint-md) {
    justify-content: space-between;
    flex-flow: row nowrap;
  }
}

.topics__letter {
  list-style: none;
  padding: 0.5em;

  a {
    display: block;
    margin: -0.5em;
    padding: 0.5em;

    @media (--breakpoint-md) {
      margin: -0.5em;
      padding: 0.5em;
    }
  }
}

.topics__content {
  @mixin responsive-declaration padding-top, 1em, 3em;

  :--heading {
    @mixin responsive-declaration padding-bottom, 0.25rem, 0.5rem;
    border-bottom: 1px solid var(--color-light-gray);
  }
}

.topics__list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0 -1em;

  li {
    flex: 1 1 50%;
    list-style: none;
    padding: 1em;

    @media (--breakpoint-md) {
      flex: 1 1 33.3333%;
    }
  }
}