<div class="layout__content layout__content--main  js-content">
  <div>
    <div>
      <h1>
        <span class="field field__title">Report suspected food poisoning</span>
      </h1>
    </div>
    <article about="#">
      <div>
        <div class="field field__webform">
          <div class="webform">
            <div class="webform__container">
              <form class="webform-submission-form webform-submission-add-form webform-submission-food-poisoning-form webform-submission-food-poisoning-add-form webform-submission-food-poisoning-node-6-form webform-submission-food-poisoning-node-6-add-form js-webform-unsaved js-webform-submit-once js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit"
                action="#" method="post"caccept-charset="UTF-8">
                <div class="webform-progress">
                  <div class="webform-progress__status">
                    <span class="webform-progress__summary">Step 2 of 5</span>
                  </div>
                </div>
                <div data-webform-key="page_description" class="webform_wizard_page page_description js-form-wrapper form-wrapper" data-drupal-selector="edit-page-description"
                  id="edit-page-description">
                  <div class="js-form-item form-item js-form-type-textarea form-item-details-of-consumed-food js-form-item-details-of-consumed-food">
                    <label for="edit-details-of-consumed-food" class="js-form-required form-required">What did you eat?</label>
                    <div id="edit-details-of-consumed-food--description" class="description">
                      Please tell us what you ate before falling ill.
                    </div>
                    <div>
                      <textarea class="textarea details_of_consumed_food form-textarea required"
                        aria-describedby="edit-details-of-consumed-food--description" id="edit-details-of-consumed-food" name="details_of_consumed_food"
                        rows="5" cols="60" required="required" aria-required="true"></textarea>
                    </div>
                  </div>
                  <div class="js-form-item form-item js-form-type-textarea form-item-symptoms-details js-form-item-symptoms-details">
                    <label for="edit-symptoms-details" class="js-form-required form-required">What are your symptoms?</label>
                    <div>
                      <textarea class="textarea symptoms_details form-textarea required"
                        name="symptoms_details" rows="5" cols="60" required="required" aria-required="true"></textarea>
                    </div>
                  </div>
                  <div class="js-form-item form-item js-form-type-textfield form-item-when-did-you-illness-start-and-end- js-form-item-when-did-you-illness-start-and-end-">
                    <label for="edit-when-did-you-illness-start-and-end-" class="js-form-required form-required">When did the symptoms start and end?</label>
                    <input class="textfield when_did_you_illness_start_and_end_ form-text required" data-drupal-selector="edit-when-did-you-illness-start-and-end-"
                      type="text" id="edit-when-did-you-illness-start-and-end-" name="when_did_you_illness_start_and_end_"
                      value="" size="60" maxlength="255" required="required" aria-required="true">
                  </div>
                  <fieldset class="radios has_visited_gp fieldgroup form-composite required js-webform-type-radios webform-type-radios js-form-item form-item js-form-wrapper form-wrapper" required="required" aria-required="true">
                    <legend>
                      <span class="fieldset-legend js-form-required form-required">Have you visited your GP?</span>
                    </legend>
                    <div class="fieldset-wrapper">
                      <div class="js-webform-radios webform-options-display-one-column">
                        <div class="js-form-item form-item js-form-type-radio form-item-has-visited-gp js-form-item-has-visited-gp">
                          <input class="radios has_visited_gp form-radio" type="radio"
                            name="has_visited_gp" value="Yes" required="required" aria-required="true">
                          <label for="edit-has-visited-gp-yes" class="option">Yes</label>
                        </div>
                        <div class="js-form-item form-item js-form-type-radio form-item-has-visited-gp js-form-item-has-visited-gp">
                          <input class="radios has_visited_gp form-radio" type="radio"
                            name="has_visited_gp" value="No" required="required" aria-required="true">
                          <label for="edit-has-visited-gp-no" class="option">No</label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <input autocomplete="off" type="hidden" name="form_build_id">
                <input type="hidden" name="form_id" value="webform_submission_food_poisoning_node_6_add_form">
                <div class="form-actions js-form-wrapper form-wrapper">
                  <input class="webform-button--previous js-webform-novalidate button js-form-submit form-submit" data-webform-wizard-page="business" type="submit" id="edit-wizard-prev" name="op" value="Previous" onclick="return false;">
                  <input class="webform-button--next button js-form-submit form-submit" type="submit" name="op" value="Continue" onclick="return false;">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
