<div class="hero__secondary-navigation">
  <div id="block-breadcrumbs" class="breadcrumb">
    <h2 class="visually-hidden">Breadcrumb</h2>
    <div class="breadcrumb__item">
      <a href="#breadcrumb" class="breadcrumb__link">Home</a>
    </div>
    <div class="breadcrumb__item">
      <a href="#breadcrumb" class="breadcrumb__link">News and alerts</a>
    </div>
    <div class="breadcrumb__item">
      <a href="#breadcrumb" class="breadcrumb__link">Latest updates</a>
    </div>
    <div class="breadcrumb__item">
      <a href="#breadcrumb" class="breadcrumb__link">Food Alerts</a>
    </div>
  </div>
</div>