<div class="layout footer-top-wrapper">
  <div class="layout__container footer-top-wrapper__container">
    <div class="layout__content footer-top-wrapper__content">
      <div class="footer-top">
        <div>
          <div id="block-webform-page-feedback" class="page-feedback form-autosubmit-on-yes">
            <div id="webform_submission_page_feedback_node_251_add_form-ajax">
              <div class="webform">
                <div class="webform__container">
                  <form class="webform-submission-form webform-submission-add-form webform-submission-page-feedback-form webform-submission-page-feedback-add-form webform-submission-page-feedback-node-251-form webform-submission-page-feedback-node-251-add-form js-webform-details-toggle webform-details-toggle" accept-charset="UTF-8">
                    <input class="hidden page_url" type="hidden" name="page_url">
                    <fieldset class="radios is_useful fieldgroup form-composite required js-webform-type-radios webform-type-radios js-form-item form-item js-form-wrapper form-wrapper">
                      <legend>
                        <span class="fieldset-legend js-form-required form-required">Is this page useful?</span>
                      </legend>
                      <div class="fieldset-wrapper">
                        <div id="edit-is-useful" class="js-webform-radios webform-options-display-two-columns">
                          <div class="js-form-item form-item js-form-type-radio form-item-is-useful js-form-item-is-useful">
                            <input class="radios is_useful form-radio edit-is-useful-no-input" data-drupal-selector="edit-is-useful-no" type="radio"
                              id="edit-is-useful-no" name="is_useful" value="No" required="required" aria-required="true">
                            <label for="edit-is-useful-no" class="option edit-is-useful-no-label">No</label>
                            <input class="radios is_useful form-radio edit-is-useful-no-input" data-drupal-selector="edit-is-useful-yes" type="radio" id="edit-is-useful-yes"
                              name="is_useful" value="Yes" required="required" aria-required="true">
                            <label for="edit-is-useful-yes" class="option edit-is-useful-yes-label">Yes</label>
                          </div>
                        </div>
                      </div>
                      <button id="open-feedback" type="button" value="open" class="toggler open-feedback">Is there anything wrong with this page?</button>
                    </fieldset>

                    <fieldset class="fieldset feedback_wrapper js-form-item form-item js-form-wrapper form-wrapper" data-drupal-selector="edit-feedback-wrapper"
                      id="edit-feedback-wrapper" style="display: none;">
                      <button type="button" value="close" class="toggler close-feedback">Close <span class="visually-hidden"> the feedback form</span></button>
                      <legend>
                        <span class="fieldset-legend">How should we improve this page?</span>
                      </legend>
                      <div class="fieldset-wrapper">
                        <div class="js-form-item form-item js-form-type-textarea form-item-feedback js-form-item-feedback form-no-label">
                          <label for="edit-feedback" class="visually-hidden">Feedback</label>
                          <div>
                            <textarea class="textarea feedback form-textarea" data-drupal-selector="edit-feedback" data-drupal-states="{&quot;required&quot;:{&quot;:input[name=\u0022is_useful\u0022]&quot;:{&quot;value&quot;:&quot;No&quot;}}}"
                              id="edit-feedback" name="feedback" rows="5" cols="60"></textarea>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="webform_actions actions form-actions webform-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions"
                      id="edit-actions">
                      <input class="webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-actions-submit"
                        data-disable-refocus="true" type="submit" id="edit-actions-submit" name="op" value="Send message" style="display: none;">
                    </div>
                    <input autocomplete="off" type="hidden" name="form_build_id">
                    <inputtype="hidden" name="form_id">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
