<div class="sidebar">
  <nav class="navigation-side">
    <div class="document-menu-wrapper document-menu-side-menu">
      <h2 class="sidebar-title">In this guide</h2>
      <nav class="document-menu">
        <ol class="document-menu__list">
          <li>
            <a href="#" class="active">1. EU law and European Commission guidance on the law</a>
          </li>
          <li>
            <a href="#">2. Principles on which registration of an operation are considered</a>
          </li>
          <li>
            <a href="#">3. Guidance for charity and groups groups providing food </a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="document-menu-wrapper document-menu-side-menu">
      <h2 class="sidebar-title">In this page</h2>
      <nav class="document-menu">
        <ol class="document-menu__list">
          <li>
            <a href="#">Section 1</a>
          </li>
          <li>
            <a href="#">Section 2</a>
          </li>
          <li>
            <a href="#">Section 3</a>
          </li>
        </ol>
      </nav>
    </div>
  </nav>
</div>
