@import "../../helper/helper";
@import "../../helper/custom-property";

.message-list {
  color: var(--color-white);
  z-index: 200;
  position: relative;
}

:--not-touch .message-list a:--enter {
  text-decoration: underline;
}

.message-list__item {
  position: relative;
  @mixin responsive-declaration padding-top, 1em, 2em;
  @mixin responsive-declaration padding-right, 3em, 5em;
  @mixin responsive-declaration padding-bottom, 1em, 2em;
  @mixin responsive-declaration padding-left, 3em, 5em;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 0.2em;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.theme--service.theme--fhrs .message-list__item {
  @mixin responsive-declaration margin-top, 1em, 2em;
  @mixin responsive-declaration margin-right, 1.25em, 5em;
  @mixin responsive-declaration margin-bottom, 1em, 2em;
  @mixin responsive-declaration margin-left, 1.25em, 5em;
}

.message-list__item:not(:last-child) {
  @mixin responsive-declaration margin-bottom, 1em, 2em;
}

.message-list__item:last-child {
  @mixin responsive-declaration margin-bottom, 2em, 4em;
}

.message-list__item:before {
  content: '';
  display: block;
  @mixin responsive-declaration width, 1.3em, 1.5em;
  @mixin responsive-declaration height, 1.3em, 1.5em;
  position: absolute;
  @mixin responsive-declaration top, 1em, 2em;
  @mixin responsive-declaration left, 1em, 2em;
  /*transform: scale(0.3333);*/
  @mixin responsive-declaration background-size, 1.3em, 1.5em;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.message-list__item--status:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2373b355'%3E%3Cpath d='M6.464 13.676c-.194.194-.513.194-.707 0l-4.96-4.955c-.194-.193-.194-.513 0-.707l1.405-1.407c.194-.195.512-.195.707 0l2.849 2.848c.194.193.513.193.707 0l6.629-6.626c.195-.194.514-.194.707 0l1.404 1.404c.193.194.193.513 0 .707l-8.741 8.736z'/%3E%3C/svg%3E");
}

.message-list__item--warning:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e29700'%3E%3Cpath d='M14.66 12.316l-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002v-5zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.239z'/%3E%3C/svg%3E");
}

.message-list__item--error:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e32700'%3E%3Cpath d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm4.025 9.284c.062.063.1.149.1.239 0 .091-.037.177-.1.24l-1.262 1.262c-.064.062-.15.1-.24.1s-.176-.036-.24-.1l-2.283-2.283-2.286 2.283c-.064.062-.15.1-.24.1s-.176-.036-.24-.1l-1.261-1.262c-.063-.062-.1-.148-.1-.24 0-.088.036-.176.1-.238l2.283-2.285-2.283-2.284c-.063-.064-.1-.15-.1-.24s.036-.176.1-.24l1.262-1.262c.063-.063.149-.1.24-.1.089 0 .176.036.24.1l2.285 2.284 2.283-2.284c.064-.063.15-.1.24-.1s.176.036.24.1l1.262 1.262c.062.063.1.149.1.24 0 .089-.037.176-.1.24l-2.283 2.284 2.283 2.284z'/%3E%3C/svg%3E%0A");
}

.message-list__item:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  bottom: -1px;
  width: 5px;
  background-color: var(--color-gray);
}

.message-list__item--status:after {
  background-color: #77b259;
}

.message-list__item--warning:after {
  background-color: #e09600;
}

.message-list__item--error:after {
  background-color: #e62600;
}

.message-list__item .backtrace {
  background-color: var(--color-lighter-gray);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 522.468 522.469' style='enable-background:new 0 0 522.468 522.469;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M325.762,70.513l-17.706-4.854c-2.279-0.76-4.524-0.521-6.707,0.715c-2.19,1.237-3.669,3.094-4.429,5.568L190.426,440.53 c-0.76,2.475-0.522,4.809,0.715,6.995c1.237,2.19,3.09,3.665,5.568,4.425l17.701,4.856c2.284,0.766,4.521,0.526,6.71-0.712 c2.19-1.243,3.666-3.094,4.425-5.564L332.042,81.936c0.759-2.474,0.523-4.808-0.716-6.999 C330.088,72.747,328.237,71.272,325.762,70.513z' fill='%23FFFFFF'/%3E%3Cpath d='M166.167,142.465c0-2.474-0.953-4.665-2.856-6.567l-14.277-14.276c-1.903-1.903-4.093-2.857-6.567-2.857 s-4.665,0.955-6.567,2.857L2.856,254.666C0.95,256.569,0,258.759,0,261.233c0,2.474,0.953,4.664,2.856,6.566l133.043,133.044 c1.902,1.906,4.089,2.854,6.567,2.854s4.665-0.951,6.567-2.854l14.277-14.268c1.903-1.902,2.856-4.093,2.856-6.57 c0-2.471-0.953-4.661-2.856-6.563L51.107,261.233l112.204-112.201C165.217,147.13,166.167,144.939,166.167,142.465z' fill='%23FFFFFF'/%3E%3Cpath d='M519.614,254.663L386.567,121.619c-1.902-1.902-4.093-2.857-6.563-2.857c-2.478,0-4.661,0.955-6.57,2.857l-14.271,14.275 c-1.902,1.903-2.851,4.09-2.851,6.567s0.948,4.665,2.851,6.567l112.206,112.204L359.163,373.442 c-1.902,1.902-2.851,4.093-2.851,6.563c0,2.478,0.948,4.668,2.851,6.57l14.271,14.268c1.909,1.906,4.093,2.854,6.57,2.854 c2.471,0,4.661-0.951,6.563-2.854L519.614,267.8c1.903-1.902,2.854-4.096,2.854-6.57 C522.468,258.755,521.517,256.565,519.614,254.663z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 8em auto;
  background-position: right 2em bottom 2em;
  background-repeat: no-repeat;
  padding: 1em;
}

.messaging {
  .message-list {
    @mixin responsive-declaration padding-left, 0, 4em;
    @mixin responsive-declaration padding-right, 0, 4em;
  }

  .message-list__item {
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 1em;
    @mixin responsive-declaration margin-bottom, 0, 0.5em;
    @mixin responsive-declaration padding-left, 0, 3.5em;
    @mixin responsive-declaration padding-right, 0, 3.5em;
  }

  .message-list__item::before {
    left: 1.1em;
    top: 1em;
  }
}
