@import "../../helper/helper";
@import "../../helper/custom-property";

.modal {
  @mixin responsive-declaration padding, 1em, 2em;
  box-shadow: var(--box-shadow);
}

.modal.modal--hero {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  text-align: center;
  width: 100%;

  @media (--breakpoint-xs) {
    width: 22.5em;
  }

  @media (--breakpoint-lg) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.modal.modal--hero h3 {
  padding-bottom: 1em;
  border-bottom: 2px solid var(--color-dark-gray);
}

.modal.modal--hero .button {
  position: static;
  @mixin responsive-declaration margin-top, 1em, 2em;
  display: inline-block;
  background-color: var(--color-white);
  color: var(--dark-primary-color);
  transition:
    color var(--transition-enter-fast),
    background-color var(--transition-enter);
}

:--not-touch .modal.modal--hero .button:--enter {
  background-color: var(--dark-primary-color);
  color: var(--color-white);
}
