@import "../../helper/helper";
@import "../../helper/custom-property";

/*Secondary navigation*/
.secondary-navigation > ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.secondary-navigation > ul > li {
  list-style: none;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.secondary-navigation > ul > li > a {
  font-size: 0.8em;
  font-weight: 600;

  @media (--breakpoint-lg) {
    font-size: 0.9em;
  }
}

:--not-touch .secondary-navigation > ul > li > a:--enter,
.secondary-navigation > ul > li > a.is-active {
  color: var(--color-black);
}
