@import "../../helper/helper";
@import "../../helper/custom-property";

.profile-manage-form {
  margin-bottom: 2.2em;
}

.user-registration-form legend,
.profile-manage-form legend {
  font-family: var(--font-family-heading);
  font-weight: 700;
  @mixin responsive-declaration font-size, 1.25em, 1.7em;
  @mixin responsive-declaration line-height, 1.2, 1.25;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--color-light-gray);
  margin-bottom: 1em;
}

.user-registration-form p,
.profile-manage-form p {
  @mixin responsive-declaration font-size, 1.125em, 1.33em;
  @mixin responsive-declaration line-height, 1.3, 1.4;
}

.user-registration-form .fieldset-wrapper,
.profile-manage-form .fieldset-wrapper {
  @mixin responsive-declaration margin-bottom, 1em, 2em;
  display: flex;
  flex-direction: column;
}

.user-registration-form .privacy-link,
.profile-manage-form .privacy-link {
  font-weight: 600;
  padding-bottom: 1em;
}

.user-registration-form .description,
.profile-manage-form .description {
  order: 1;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.user-registration-form #edit-new-password--description,
.profile-manage-form #edit-new-password--description {
  text-transform: none;
  font-weight: normal;
}

.user-registration-form a,
.profile-manage-form a {
  text-transform: none;
  text-decoration: underline;
}

.user-registration-form .g-recaptcha,
.profile-manage-form .g-recaptcha {
  margin-bottom: 2em;
}

.user-registration-form label,
.profile-manage-form label {
  display: block;
  margin-bottom: 0.5em;
}

.profile-manage-form {
  .js-form-type-radio {
    margin-bottom: 0 !important;
  }
}

.user-registration-form .form-wrapper,
.profile-manage-form .form-wrapper {
  @mixin responsive-declaration padding-top, 1em, 1em;
}

.user-registration-form .form-actions,
.profile-manage-form .form-actions {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

.user-registration-form .form-actions .button.black.left,
.profile-manage-form .form-actions .button.black.left {
  order: -1;
  background-color: var(--color-black);
}

.user-registration-form .form-actions .form-submit,
.profile-manage-form .form-actions .form-submit {
  margin-left: auto;
}

:--not-touch .user-registration-form .form-actions .button.black.left:--enter,
:--not-touch .profile-manage-form .form-actions .button.black.left:--enter {
  color: var(--color-white);
}