@import "../../helper/helper";
@import "../../helper/custom-property";

.table {
  display: flex;
  flex-flow: column nowrap;

  &:not(:last-child) {
    @mixin responsive-declaration margin-bottom, 1em, 2em;
  }
}

.table.table--with-borders .table__item {
  @media (--breakpoint-md) {
    margin-right: -1px;
    border-right: 1px solid var(--color-gray);
  }
}
/* 
.table.table--with-background .table__button:nth-of-type(odd) {
  background-color: var(--color-lighter-gray);

  @media (--breakpoint-md) {
    background-color: inherit;
  }
}

.table.table--with-background .table__row:nth-of-type(even) {
  @media (--breakpoint-md) {
    background-color: var(--color-lighter-gray);
  }
} */

.table__row {

  @media (--breakpoint-md) {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
}

.table.table--with-borders .table__item {
  @media (--breakpoint-md) {
    margin-top: -1px;
    border: 1px solid var(--color-light-gray);
  }
}

.table__row.table__row--header {
  display: none;
  color: var(--dark-primary-color);
  font-weight: 600;

  @media (--breakpoint-md) {
    display: flex;
  }
}

.table__row.table__row--negative {
  background-color: var(--dark-secondary-color) !important;
  color: var(--color-white);

  & svg path {
    color: currentColor;
  }
}

.table.table--with-borders .table__row.table__row--negative .table__item {
  border-color: var(--dark-secondary-color) !important;
}

.table__item {
  display: block;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  @mixin responsive-declaration padding-right, 1em, 2em;
  @mixin responsive-declaration padding-left, 1em, 2em;

  @media (--breakpoint-xs) {
    display: flex;
  }

  @media (--breakpoint-md) {
    flex-shrink: 1;
    flex-basis: 0;
  }

  &:before {
    content: attr(data-header);
    display: none;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 1em;
    margin-bottom: 1em;

    @media (--breakpoint-xs) {
      width: 7em;
      flex: 0 0 7em;
    }

    @media (--breakpoint-sm) {
      width: 10em;
      flex: 0 0 10em;
    }
  }
}

.table__row--header ~ .table__row > .table__item:before {
  display: block;

  @media (--breakpoint-md) {
    display: none;
  }
}

:--not-js .table__row--header ~ .table__row > .table__item:before {
  display: none;
}

.table__button {
  padding: 1em 0;
  border-top: 1px solid var(--color-light-gray);

  @media (--breakpoint-md) {
    display: none !important;
  }

  & .toggle-button__item {
    margin: 0 1em;
  }
}

.table__item.table__item--large {
  @media (--breakpoint-md) {
    flex-grow: 1;
  }

  @media (--breakpoint-lg) {
    flex-grow: 2;
  }
}

.table__item.table__item--width-6 {
  @media (--breakpoint-md) {
    flex: 0 0 6em;
  }
}

.table__item.table__item--width-15 {
  @media (--breakpoint-md) {
    flex: 0 0 15em;
  }
}

.table__content {
  width: 100%;
  font-size: 1em;

  & h3 {
    font-size: 1.25em;

    @media (--breakpoint-xs) {
      font-size: 1em;
    }
  }
}

.table__mobile-header {
  display: none;
}
