<div class="infobox">
  <h2>My subscriptions</h2>
  <h3 class="reset-font-style"><strong>Allergy alerts</strong></h3>
  <ul class="item-selected">
     <li>Fish</li>
     <li>Milk</li>
     <li>Sesame</li>
  </ul>

  <h3 class="reset-font-style"><strong>News</strong></h3>
  <ul class="item-selected">
     <li>Northern Ireland news</li>
     <li>Science news</li>
     <li>Wales news</li>
  </ul>

  <h3 class="reset-font-style"><strong>Consultations</strong></h3>
  <ul class="item-selected">
     <li>Help shape our policies</li>
     <li>Rapidly developing policies</li>
  </ul>
</div>