<div class="field__field_lander_row__item field__field_lander_row__item--even">
  <div class="paragraph paragraph--type-code-block paragraph--view-mode--default">
    <div class="field field__field_title">
      <h2 class="field__field_title__item field__field_title__item--even">Latest news and alerts</h2>
    </div>
    <div class="field field__field_code_block">
      <div class="views-element-container" id="block-views-block-news-alerts-latest">
        <div>
          <div class="promo-listing-wrapper">
            <div class="views-row-wrapper">
              <div class="views-row">
                <div class="promo-wrapper">
                  <a href="#latest-news" role="article" about="#"
                    class="promo promo--light promo-wrapper--full-height">
                    <div class="promo__type">
                      <div class="field field__field_news_type">
                        <div class="field__field_news_type__item field__field_news_type__item--even">News</div>
                      </div>
                    </div>
                    <h4 class="promo__content">
                      <span class="field field__title">National Food Safety Week highlights 'the people who protect your plate' </span>
                    </h4>
                    <div>
                    </div>
                    <div class="promo__date">
                      <span class="field field__created">4 June 2018</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="views-row">
                <div class="promo-wrapper">
                  <a href="#latest-news" role="article" about="#" class="promo promo--light promo-wrapper--full-height">
                    <div class="promo__type">
                      <div class="field field__field_alert_type">
                        <div class="alert__type_badge alert__type_prin">
                          Food Alert
                        </div>
                      </div>
                    </div>
                    <h4 class="promo__content">
                      <span class="field field__title">Addo Food Group recalls pastry products because they may contain small pieces of metal wire.</span>
                    </h4>
                    <div>
                      <div class="field field__field_alert_modified">
                        <span class="field__field_alert_modified__heading label__inline">Last updated</span>
                        <span class="field__field_alert_modified__item field__field_alert_modified__item--even">
                          <time datetime="2018-06-02T21:02:44Z">2 June 2018</time>
                        </span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="views-row">
                <div class="promo-wrapper">
                  <a href="#latest-news" role="article" about="#" class="promo promo--light promo-wrapper--full-height">
                    <div class="promo__type">
                      <div class="field field__field_alert_type">
                        <div class="alert__type_badge alert__type_prin">
                          Food Alert
                        </div>
                      </div>
                    </div>
                    <h4 class="promo__content">
                      <span class="field field__title">Red Star Brands recalls Fulfil White Chocolate Bars because they may contain small pieces of clear plastic.</span>
                    </h4>
                    <div>
                      <div class="field field__field_alert_modified">
                        <span class="field__field_alert_modified__heading label__inline">Last updated</span>
                        <span class="field__field_alert_modified__item field__field_alert_modified__item--even">
                          <time datetime="2018-06-02T14:06:09Z">2 June 2018</time>
                        </span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="views-row">
                <div class="promo-wrapper">
                  <a href="#latest-news" role="article" about="#" class="promo promo--light promo-wrapper--full-height">
                    <div class="promo__type">
                      <div class="field field__field_alert_type">
                        <div class="alert__type_badge alert__type_prin">
                          Food Alert
                        </div>
                      </div>
                    </div>
                    <h4 class="promo__content">
                      <span class="field field__title">AG Barr is recalling 750ml glass bottles due to a manufacturing fault which may cause bottle caps to
                        pop off unexpectedly</span>
                    </h4>
                    <div>
                      <div class="field field__field_alert_modified">
                        <span class="field__field_alert_modified__heading label__inline">Last updated</span>
                        <span class="field__field_alert_modified__item field__field_alert_modified__item--even">
                          <time datetime="2018-06-02T15:41:02Z">2 June 2018</time>
                        </span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <footer>
              <a href="#latest-news" class="button">All news and alerts</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>