@import "../../helper/helper";
@import "../../helper/custom-property";

.sidebar {
  @mixin responsive-declaration padding-left, 1em, 4em;
  @mixin responsive-declaration padding-right, 1em, 2em;
  @mixin responsive-declaration padding-bottom, 1em, 3em;

  padding-top: 2em;

  .theme--news-alerts & {
    background-color: transparent;
  }

  .theme--search & {
    padding: 0;

    @media (--breakpoint-md) {
      padding-left: 2.5em;
      padding-right: 2.5em;
      padding-bottom: 2.5em;
      padding-top: 2.5em;
    }

    @media (--breakpoint-lg) {
      padding-left: 3em;
      padding-right: 3em;
      padding-bottom: 3em;
      padding-top: 3em;
    }
  }

  .layout__sidebar--secondary & {
    @media (--breakpoint-md) {
      padding-left: 1.5em;
    }

    @media (--breakpoint-lg) {
      padding-left: 4em;
    }
  }

  :--heading {
    @mixin reset-font-style;

    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);

  @media (--breakpoint-md) {
    justify-content: flex-start;
    background-color: transparent;
  }
}

.sidebar__home-link {
  @mixin responsive-declaration padding, 1em, 2.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__icon {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  display: none;

  @media (--breakpoint-md) {
    display: block;
  }
}

.sidebar__return-link {
  @mixin responsive-declaration padding, 1em, 2.5em;

  @media (--breakpoint-md) {
    display: none;
  }
}

.sidebar__spacer {
  @mixin responsive-declaration padding, 1em, 2.5em;

  @media (--breakpoint-md) {
    display: none;
  }
}

.sidebar__return-icon,
.sidebar__spacer {
  width: 1em;
  height: 1em;
}

.sidebar__return-icon {
  transform: rotate(90deg);
}

.sidebar__heading {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-color);
}
