@import "../../helper/helper";
@import "../../helper/custom-property";

.my-profile__header > ul {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.my-profile__header > ul:before {
  content: '';
  background-color: var(--color-lighter-gray);
  position: absolute;
  z-index: var(--z-bottom);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  display: block;
  transform: translateX(-50%);
}

.my-profile__header > ul > li {
  position: relative;
  z-index: var(--z-middle);
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-profile__header > ul > li > a {
  position: relative;
  padding: 1em 1.5em;
  display: block;
}

.my-profile__header > ul > li > a:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 5px;
  background-color: var(--primary-color);
  transform-origin: 50% 100%;
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.12s ease-in-out,
    transform 0.12s ease-in-out;
}

.my-profile__header > ul > li > a.is-active:after,
:--not-touch .my-profile__header > ul > li > a:--enter:after {
  opacity: 1;
  transform: scaleY(1);
}

.header.profile {
  @mixin responsive-declaration margin-top, 1em, 3em;
}

/* Profile header */
.profile__header {
  @mixin responsive-declaration margin-bottom, 1.5em, 2em;

  position: relative;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}

.profile__heading {
  margin: 0;
}

.profile__logout {
  position: relative;
  margin-left: auto;
  font-weight: 600;
  padding-left: 2.25em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: translateY(-50%);
    background-image: var(--icon-arrow-right-white);
    background-position: 50% 50%;
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-color: var(--dark-primary-color);
    border-radius: 50%;
  }

  :--not-touch &:--enter {
    text-decoration: underline;
  }
}

.user-registration-form,
.profile-manager {
  .toggle-button {
    @mixin responsive-declaration padding, 0, 0.5em;

    border: 0.2em solid var(--color-light-gray);
    font-weight: 600;
    border-bottom: 0;

    &.is-open {
      border-color: var(--color-black);
      color: var(--color-black);
    }

    & > * {
      @mixin responsive-declaration font-size, 1em, 1.25em;
    }
  }

  .toggle-content {
    border: 0.2em solid var(--color-light-gray);
    border-top: 0;
    margin-bottom: 0.5em;

    &.is-open {
      border-color: var(--color-black);
    }

    & > * {
      @mixin responsive-declaration padding, 1em, 1.5em;

      margin: 0;
    }

    h3 {
      @mixin responsive-declaration font-size, 1.25em, 1.5em;
      @mixin responsive-declaration margin-top, 1.5em, 2em;

      padding-bottom: 0.5em;
      border-bottom: 0.1em solid var(--color-lighter-gray);
    }
  }

  .toggle-button__item.toggle-button__item--icon {
    margin-left: auto;
    padding-right: 2em;
  }

  .form-item {
    &.js-form-type-radio {
      margin-bottom: 0;
    }
  }
}
