@import "../../helper/helper";
@import "../../helper/custom-property";

/* Toggle button */
.toggle-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 0;
}

.toggle-button--open-background {
  &.is-open {
    background-color: var(--primary-color) !important;
    color: var(--color-white);
  }
}

/* Toggle button item */
.toggle-button__item {
  text-align: left;
  padding: 0 1em;
}

.toggle-button__item--align-right {
  margin-left: auto !important;
  text-align: center;
}

.toggle-button__item--presentation-icon {
  position: relative;
  width: 1em;
  height: 1em;
  flex: 0 0 auto;

  & svg path {
    fill: currentColor;
  }
}

.toggle-button__item--icon {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  flex: 0 0 auto;
  padding: 0;
  transform: rotate(0deg);

  :--not-js & {
    display: none;
  }

  .toggle-button__item--align-right + & {
    margin-left: 0 !important;
  }

  .toggle-button.is-open & {
    transform: rotate(180deg);
  }

  & svg path {
    fill: currentColor;
  }

  & .toggle-button__fallback-icon {
    position: absolute;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='31px' height='41px' viewBox='0 0 31 41' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Econtact-arrow-icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='contact-arrow-icon' transform='translate%2815.500000, 21.000000%29 rotate%28-270.000000%29 translate%28-15.500000, -21.000000%29 translate%28-5.000000, 6.000000%29' fill-rule='nonzero' fill='%23007C75'%3E%3Cpolygon id='Fill-1' points='0 16.4635714 34.5975 16.4635714 34.5975 12 0 12'%3E%3C/polygon%3E%3Cpolygon id='Fill-2' points='25.126375 29.9120357 22 26.7856607 33.8317857 14.9560179 22 3.126375 25.126375 0 40.0803036 14.9560714'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
  }
}

.toggle-button__item--width-2 {
  width: 2em;
  flex: 0 0 auto;
}

.toggle-button__item--width-3 {
  width: 3em;
  flex: 0 0 auto;
}

.toggle-content {
  &.is-dynamic {
    overflow: hidden;
    max-height: 0;
    min-height: 0;
    padding: 0 1px !important;
    transition:
      max-height var(--transition-enter),
      min-height var(--transition-enter);

    &.is-open {
      max-height: var(--expanded, 70px);
      min-height: var(--expanded, 70px);

      :--not-modern & {
        display: block;
        max-height: none;
        min-height: 0;
      }
    }
  }

  &.is-popup {
    position: absolute;
    top: -7777px;
    top: -100vh;
    left: 0;
    right: 0;

    &.is-open {
      top: 100%;
    }
  }
}
