<div class="field__field_lander_row__item field__field_lander_row__item--odd">
  <div class="listing listing--large-promo paragraph paragraph--type-large-promo paragraph--view-mode--default">
    <div class="field field__field_large_promo">
      <div class="field__field_large_promo__item field__field_large_promo__item--even">

        <div style="background-image: url(https://www.food.gov.uk/sites/default/files/styles/promo_large/public/media/image/fhrs-5_0.jpg?itok=fZ466-QL)"
          class="promo__background-image"></div>
        <div class="promo__content">
          <h3 class="field field__field_title" id="subject-eating-out">Eating out? </h3>

          <div class="field field__field_intro">Food hygiene ratings help you choose where to eat out or shop for food by telling you how seriously the business
            takes their food hygiene standards.</div>

          <div class="field field__field_link">
            <a href="#landing-promo">Find a food hygiene rating</a>
          </div>

        </div>
      </div>
      <div class="field__field_large_promo__item field__field_large_promo__item--odd">

        <div style="background-image: url(https://www.food.gov.uk/sites/default/files/styles/promo_large/public/media/image/AS_FSA_011216_L1_880_cropped.jpg?itok=PtnkX_PY)"
          class="promo__background-image"></div>
        <div class="promo__content">
          <h3 class="field field__field_title" id="subject-introduction-to-food-allergies">Introduction to food allergies</h3>
          <div class="field field__field_intro">What causes food allergies? What is the difference between allergy and intolerance?</div>
          <div class="field field__field_link">
            <a href="#landing-promo">Allergy and intolerance</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>