<div class="listing">
  <article class="item item--has-meta">
    <div class="item__content">
      <h2>
        <a href="#listing" rel="bookmark"><span class="field field__title">Tesco recalls its Tesco’s finest chocolate cake because of undeclared nuts (walnuts)</span>
        </a>
      </h2>
      <div>
        <div class="field field__field_alert_description">
          <p>Tesco is recalling one date code of Tesco’s finest chocolate cake because it may contain walnuts which are not mentioned on the label. This means the product poses a health risk for anyone with an allergy to nuts (walnuts)</p>
        </div>
      </div>
    </div>
    <footer class="item__meta">
        <div class="item__tag">
            <div class="field field__field_alert_type">
              <h3 class="field__field_alert_type__heading label__above" hidden>Alert type</h3>
              <div class="field__field_alert_type__item field__field_alert_type__item--even">
                  <div class="alert__type_badge alert__type_aa">
                    Allergy Alert
                  </div>
              </div>
            </div>
        </div>
        <div class="item__date">
            <div class="field field__field_alert_modified"><time datetime="2018-01-29T18:17:27Z">29 January 2018</time></div>
        </div>
      </footer>
  </article>

  <article class="item item--has-meta">
    <div class="item__content">
      <h2>
        <a href="#listing" rel="bookmark"><span class="field field__title">James Hall recalls BBQ Pulled Pork because it may contain Salmonella</span>
        </a>
      </h2>
      <div>
        <div class="field field__field_alert_description">
          <p>James Hall is recalling SPAR BBQ Pulled Pork and Woodland BBQ Pulled Pork because the products may contain salmonella. Both products have been sold at SPAR stores.</p>
        </div>
      </div>
    </div>
    <footer class="item__meta">
        <div class="item__tag">
            <div class="field field__field_alert_type">
              <h3 class="field__field_alert_type__heading label__above" hidden>Alert type</h3>
              <div class="field__field_alert_type__item field__field_alert_type__item--even">
                  <div class="alert__type_badge alert__type_prin">
                    Food Alert
                  </div>
              </div>
            </div>
        </div>
        <div class="item__date">
            <div class="field field__field_alert_modified"><time datetime="2018-01-29T18:25:08Z">29 January 2018</time></div>
        </div>
      </footer>
  </article>

  <article class="item item--has-meta">
    <div class="item__content">
      <h2>
        <a href="#listing" rel="bookmark"><span class="field field__title">New World Imports (UK) Ltd recalls Kam Yuen Crab Roe Flavour Sunflower Seeds because of undeclared peanut</span>
        </a>
      </h2>
      <div>
        <div class="field field__field_alert_description">
          <p>New World Imports (UK) Ltd is recalling Kam Yuen Crab Roe Flavour Sunflower Seeds because it may contain peanut which is not mentioned on the label. This means the product poses a health risk for anyone with an allergy to nuts (peanut).</p>
        </div>
      </div>
    </div>
    <footer class="item__meta">
        <div class="item__tag">
            <div class="field field__field_alert_type">
              <h3 class="field__field_alert_type__heading label__above" hidden>Alert type</h3>
              <div class="field__field_alert_type__item field__field_alert_type__item--even">
                  <div class="alert__type_badge alert__type_aa">
                    Allergy Alert
                  </div>
              </div>
            </div>
        </div>
        <div class="item__date">
            <div class="field field__field_alert_modified"><time datetime="2018-01-29T18:19:20Z">29 January 2018</time></div>
        </div>
      </footer>
  </article>

  <article class="item item--has-meta">
    <div class="item__content">
      <h2>
        <a href="#listing" rel="bookmark"><span class="field field__title">Sushi Daily recalls its Sushigari (ginger) because it may contain small pieces of glass</span>
        </a>
      </h2>
      <div>
        <div class="field field__field_alert_description">
          <p>Sushi Daily is recalling a batch of its Sushigari (ginger) sold in jars at their kiosks in some Waitrose and Sainsbury’s stores because the product may contain small pieces of glass.</p>
        </div>
      </div>
    </div>
    <footer class="item__meta">
        <div class="item__tag">
            <div class="field field__field_alert_type">
              <h3 class="field__field_alert_type__heading label__above" hidden>Alert type</h3>
              <div class="field__field_alert_type__item field__field_alert_type__item--even">
                  <div class="alert__type_badge alert__type_prin">
                    Food Alert
                  </div>
              </div>
            </div>
        </div>
        <div class="item__date">
            <div class="field field__field_alert_modified"><time datetime="2018-01-30T11:59:12Z">30 January 2018</time></div>
        </div>
      </footer>
  </article>

  <article class="item item--has-meta">
    <div class="item__content">
      <h2>
        <a href="#listing" rel="bookmark"><span class="field field__title">Morrisons recalls Eat Smart COUNTED Honey &amp; Mustard Dressing because of undeclared egg and mustard</span>
        </a>
      </h2>
      <div>
        <div class="field field__field_alert_description">
          <p>Morrisons is recalling Eat Smart COUNTED Honey &amp; Mustard Dressing because it contains egg and mustard which is not mentioned on the label.</p>
        </div>
      </div>
    </div>
    <footer class="item__meta">
        <div class="item__tag">
            <div class="field field__field_alert_type">
              <h3 class="field__field_alert_type__heading label__above" hidden>Alert type</h3>
              <div class="field__field_alert_type__item field__field_alert_type__item--even">
                  <div class="alert__type_badge alert__type_aa">
                    Allergy Alert
                  </div>
              </div>
            </div>
        </div>
        <div class="item__date">
            <div class="field field__field_alert_modified"><time datetime="2018-01-30T22:44:47Z">31 January 2018</time></div>
        </div>
      </footer>
  </article>

  <nav class="pager" aria-labelledby="pagination-heading">
    <ul class="pager__items js-pager__items">
        <li class="pager__item is-active">
          <a href="#listing" title="Current page">
          <span class="visually-hidden">
          Current page
          </span>1</a>
        </li>
        <li class="pager__item">
          <a href="#listing" title="Go to page 2">
          <span class="visually-hidden">
          Page
          </span>2</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="#listing" title="Go to next page" rel="next">
          <span class="visually-hidden">Next page</span>
          <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
          <a href="#listing" title="Go to last page">
          <span class="visually-hidden">Last page</span>
          <span aria-hidden="true">Last »</span>
          </a>
        </li>
    </ul>
  </nav>

  <footer>
     Showing 1-5 of 1000
  </footer>
</div>
