<nav class="next-previous">
  <ul  class="next-previous__nav">
    <li class="next-previous__nav__item next-previous__nav--previous" >
      <a href="#">
        <span class="next-previous__previous">Previous</span>
        <p class="next-previous__type">1. EU law and European Commission guidance on the law</p>
      </a>
    </li>
    <li class="next-previous__nav__item next-previous__nav--next" >
      <a href="#">
        <span class="next-previous__next">Next</span>
        <p  class="next-previous__type">3. Guidance for charity and groups groups providing food</p>
      </a>
    </li>
  </ul>
</nav>
<nav class="next-previous">
  <ul  class="next-previous__nav">
    <li class="next-previous__nav__item next-previous__nav--previous" >
      <a href="#">
        <span class="next-previous__previous">Previous</span>
        <p class="next-previous__type">1. EU law and European Commission guidance on the law</p>
      </a>
    </li>
  </ul>
</nav>
<nav class="next-previous">
  <ul  class="next-previous__nav">
    <li class="next-previous__nav__item next-previous__nav--next" >
      <a href="#">
        <span class="next-previous__next">Next</span>
        <p  class="next-previous__type">3. Guidance for charity and groups groups providing food</p>
      </a>
    </li>
  </ul>
</nav>
