<div class="content-toolbar">
  <div class="content-toolbar__item content-toolbar__item--pdf">
    <a href="#share" class="print__link--pdf" target="_blank">View PDF</a>
  </div>
  <div class="content-toolbar__item content-toolbar__item--print">
    <button class="page-print-trigger">Print this page</button>
  </div>
  <div class="content-toolbar__item content-toolbar__item--share">
    <div id="block-addtoany">
      <span class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="https://www.food.gov.uk/safety-hygiene/cooking-your-food"
        data-a2a-title="Cooking your food" style="line-height: 32px;">
        <a class="a2a_dd addtoany_share" href="#share"
          target="_blank" rel="nofollow">
          <img src="/themes/custom/fsa/dist/sprite.svg">
        </a>
      </span>
    </div>
  </div>
</div>
