@import "../../helper/helper";
@import "../../helper/custom-property";

.ratings {
  position: relative;
  margin: 0;
  max-width: none;

  @media (--breakpoint-md) {
    padding-right: 0;
    padding-left: 0;
  }

  .theme--search & {
    @mixin responsive-declaration margin-right, -1em, -3em;
    @mixin responsive-declaration margin-left, -1em, -4em;

    @media (--breakpoint-md) {
      margin: 0;
    }
  }
}

.ratings__container {
  max-width: var(--max-width-medium);
  margin: 0 auto;
}

.ratings__search-expand-button {
  width: 100%;
  padding: 1em;
  text-transform: uppercase;

  @media (--breakpoint-md) {
    display: none;
  }

  & svg path {
    fill: currentColor;
  }
}

/* Ratings search */
.ratings__search {
  @mixin responsive-declaration padding-top, 1em, 4em;
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-bottom, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  position: relative;
  z-index: var(--z-middle);
  text-align: center;

  .container {
    max-width: 34em;
  }

  legend,
  label {
    display: block;
    text-align: left;
    font-size: 1em;
    text-transform: none;
    margin-bottom: 0.5em;
  }

  legend {
    margin-bottom: 1em;
  }

  label {
    &.option {
      text-transform: capitalize;
    }
  }

  input:not([type="submit"]),
  select {
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
  }

  .fsa-rating-search-main {
    label {
      @mixin responsive-declaration font-size, 1.2em, 1.35em;

      text-align: center;
    }

    input {
      background-image: var(--icon-search-gray);
      background-position: left 1em top 50%;
      background-repeat: no-repeat;
      padding-left: 3em;

      :--not-touch &:--enter {
        background-image: var(--icon-search-primary);
      }
    }
  }

  .form-actions {
    padding-top: 0;
    display: flex;
    justify-content: center;
  }

  .fieldgroup {
    margin-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    display: inline-block;
    vertical-align: top;

    @media (--breakpoint-md) {
      width: 49%;
    }

    &:nth-child(odd) {
      @media (--breakpoint-md) {
        padding-right: 1em;
      }
    }

    &:nth-child(even) {
      @media (--breakpoint-md) {
        padding-left: 1em;
      }
    }
  }

  .form-item {
    margin-bottom: 0;
    text-align: left;

    &.js-form-type-select {
      width: 100%;
      display: inline-block;
      vertical-align: top;

      @media (--breakpoint-md) {
        width: 49%;
      }

      &:nth-child(odd) {
        @media (--breakpoint-md) {
          padding-right: 1em;
        }
      }

      &:nth-child(even) {
        @media (--breakpoint-md) {
          padding-left: 1em;
        }
      }
    }
  }

  .ratings__advanced-search-button {
    padding: 1em 0;
    margin-bottom: 1em;
    color: var(--dark-primary-color);
    text-decoration: underline;
    transition: color var(--transition-enter-fast);
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.is-open) {
      box-shadow: 0 1px 0 0 var(--color-light-gray);
    }

    :--not-touch &:--enter {
      color: var(--primary-color);
    }
  }

  .ratings__advanced-search-button-icon {
    @media (--breakpoint-md) {
      margin-left: 1em !important;
    }
  }

  .ratings__advanced-search-content {
    margin-bottom: 1em;
    box-shadow: 0 1px 0 0 var(--color-light-gray);
  }
}

/* Ratings header */
.ratings__header {
  @mixin responsive-declaration padding-bottom, 1.5em, 3em;

  display: flex;
  flex-flow: column nowrap;

  @media (--breakpoint-md) {
    flex-flow: row nowrap;
    align-items: center;
  }

  &.rating__header--back-link {
    a {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='14px' viewBox='0 0 22 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 45.1 %2843504%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EPage 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='FHRS' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='About-Ratings' transform='translate%28-510.000000, -35.000000%29' fill='%23007c75'%3E%3Cg id='Header' transform='translate%28461.000000, 0.000000%29'%3E%3Cpath d='M57.2136083,35.2887967 C57.4093541,35.4817608 57.5067454,35.7227358 57.5067454,35.963706 C57.5067454,36.2046762 57.4093492,36.4456464 57.2136083,36.6386153 L52.7639959,41.0240316 L70.0222244,41.0240316 C70.5598054,41.0240316 71,41.4579707 71,41.9879123 C71,42.517854 70.5598054,42.9517931 70.0222244,42.9517931 L52.7639959,42.9517931 L57.2126305,47.3372094 C57.6041318,47.7231472 57.6041318,48.3255727 57.2126305,48.7105466 C56.8211291,49.0964845 56.2100194,49.0964845 55.8194958,48.7105466 L49,41.9879605 L55.8194958,35.2887485 C56.2109971,34.9037505 56.8221069,34.9037505 57.2135838,35.2887485 L57.2136083,35.2887967 Z' id='Page-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: left 0 top 50%;
      background-size: 1em auto;
      background-repeat: no-repeat;
      padding-left: 1.5em;
    }
  }
}

/* Ratings toolbar */
.ratings__toolbar {
  @mixin responsive-declaration padding-top, 1.5em, 3em;
  @mixin responsive-declaration padding-right, 1em, 2em;
  @mixin responsive-declaration padding-bottom, 1em, 1.5em;
  @mixin responsive-declaration padding-left, 1em, 2em;

  display: flex;
  flex-flow: column nowrap;
  padding-right: 1em;
  padding-left: 1em;

  @media (--breakpoint-md) {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.ratings__sort-form {
  margin: 0;
  padding-right: 0;

  @media (--breakpoint-md) {
    margin-left: auto;
  }

  .form-item {
    margin-bottom: 0;

    label {
      font-size: 1em;
      font-weight: 700;
      text-transform: none;
      display: block;
      margin: 0;
      margin-bottom: 0.5em;

      @media (--breakpoint-md) {
        font-weight: 600;
      }

      @media (--breakpoint-lg) {
        display: inline-block;
        margin: 0 1em;
      }
    }

    select {
      display: block;
      margin: 0;
      width: 100%;

      @media (--breakpoint-sm) {
        width: auto;
      }

      @media (--breakpoint-lg) {
        display: inline-block;
        margin-left: 1em;
      }
    }
  }
}

.ratings__hits-total {
  @mixin responsive-declaration margin-right, 1em, 2em;

  font-family: var(--font-family-heading);
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: 700;

  @media (--breakpoint-md) {
    font-weight: 500;
    margin-bottom: 0;
  }
}

.ratings__sort-results {
  & select {
    width: 15em;
  }
}

/* Rating listing */
.ratings__content {
  @mixin responsive-declaration padding-bottom, 2em, 3em;
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  position: relative;
  background-color: var(--color-white);
  z-index: var(--z-bottom);
  flex: 1 1 100%;
  min-height: 100vh;

  &.ratings__content--frontpage {
    @mixin responsive-declaration padding-top, 2em, 3em;
  }

  &.ratings__content--listing {
    padding: 0 !important;
  }

  h1 {
    color: var(--primary-color);
  }

  a {
    :--not-touch &:--enter {
      color: var(--color-darker-teal);
    }
  }
}

.ratingvalue {
  text-decoration: none;

  .numeric {
    font-family: var(--font-family-content);
    font-size: 1.25em;
    font-weight: 600;
    line-height: 32px;
    color: var(--color-black);
    border-radius: 50%;
    background-color: var(--color-green);
    border: 2px solid var(--color-black);
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    overflow: hidden;
  }

  .description {
    display: none;
  }

  .ratings__badge & {
    display: none;

    @media (--breakpoint-md) {
      display: block;
    }

    @media (--breakpoint-lg) {
      display: none;
    }
  }
}

.ratings__mobile-rating-value {
  padding-left: 1em;

  .svg {
    border-radius: 50%;
    background-color: var(--color-green);
    border: 2px solid var(--color-black);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;

    &.awaitinginspection {
      background-color: var(--color-black);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .badge {
    padding-top: 0.25em;
    width: 5em;

    @media (--breakpoint-xs) {
      width: 7.5em;
    }

    @media (--breakpoint-sm) {
      width: 10em;
    }
  }
}

.ratings__badge {
  img {
    border-radius: 0.2em;
    max-width: 100%;

    @media (--breakpoint-xs) {
      max-width: 120%;
    }
  }
}

/* Ratings table */
.ratings__table {
  & > div:nth-child(4n + 2) {
    background-color: var(--color-lighter-gray);

    @media (--breakpoint-md) {
      background-color: transparent;
    }
  }

  & > div:nth-child(4n + 1) {
    background-color: transparent;

    @media (--breakpoint-md) {
      background-color: var(--color-lighter-gray);
    }
  }

  &.ratings__table--more-items > div {
    display: flex !important;
    flex-flow: column nowrap !important;
  }
}

.ratings__mobile-item {
  display: flex;
  align-items: stretch;

  &.is-open {
    background-color: var(--primary-color) !important;
    color: var(--color-white) !important;
  }

  a {
    display: flex;
    flex: 1 1 auto;

    p {
      text-decoration: none;
    }
  }

  &.is-open a {
    color: var(--color-white) !important;
  }
}

.ratings__mobile-link {
  text-decoration: none !important;
}

.ratings__mobile-name {
  padding: 0 1em;

  h3 {
    font-family: var(--font-family-content);
    margin-bottom: 0.5em;
    text-decoration: underline;
  }

  p {
    color: var(--color-black);

    .ratings__mobile-item.is-open & {
      color: var(--color-white) !important;
    }
  }
}

.ratings__toggle-button {
  padding: 1em 1.2em;
  border-radius: 0;
  border-left: 1px solid var(--color-light-gray);

  .ratings__mobile-item.is-open & {
    border-left: 1px solid var(--dark-primary-color);
  }

  .svg {
    position: relative;
    width: 11px;
    height: 6px;

    path {
      fill: var(--dark-primary-color) !important;

      .ratings__mobile-item.is-open & {
        fill: var(--color-white) !important;
      }
    }
  }
}

/* Ratings footer */
.ratings__footer {
  display: flex;
  text-align: center;

  .hits-shown,
  .hits-total {
    font-weight: 700;

    & > div {
      display: inline !important;
    }
  }

  .button {
    @mixin responsive-declaration margin-top, 1em, 2em;

    margin: 0 auto;
  }
}

.ratings-meanings__row {
  background-color: var(--color-white);
  margin-bottom: 0.5em;
  flex-flow: column;

  @media (--breakpoint-xs) {
    flex-flow: row;
  }
}

.ratings-meanings__table {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2em;

  @media (--breakpoint-md) {
    margin-right: -2em;
    margin-left: -2em;
  }

  @media (--breakpoint-lg) {
    margin-right: -5em;
    margin-left: -5em;
  }
}

.ratings-meanings__item:last-child {
  @media (--breakpoint-xs) {
    box-shadow: -0.1em 0 0 0 var(--color-lighter-gray);
  }
}

.ratings-meanings__item--score {
  background-color: var(--primary-color);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;

  @media (--breakpoint-xs) {
    flex: 0 0 6em;
  }
}

.ratings-meanings__item--badge {
  @media (--breakpoint-xs) {
    flex: 0 0 10em;
  }

  @media (--breakpoint-sm) {
    flex: 0 0 15em;
  }
}

.ratings-meanings__content--highlight {
  font-family: var(--font-family-heading);
  font-size: 2.5em;
  font-weight: bold;
}

/* Establishment */
.establishment {
  .field {
    margin-bottom: 0 !important;
  }
}

.establishment__container {
  max-width: var(--max-width-medium);
  margin: 0 auto;
}

.establishment__meta {
  display: flex;
  flex-wrap: wrap;

  @media (--breakpoint-md) {
    flex-wrap: nowrap;
  }
}

.establishment__title {
  margin-top: 0;
}

.establishment__rating {
  @mixin responsive-declaration margin-right, 1em, 2em;
  @mixin responsive-declaration padding-right, 1em, 2em;

  background-color: var(--color-lighter-gray);
  margin-bottom: 2em;
  flex: 0 0 100%;

  @media (--breakpoint-md) {
    flex: 1 1 50%;
    border-right: 0;
  }

  @media (--breakpoint-lg) {
    flex: 1 1 20em;
    border-right: 1px solid var(--color-light-gray);
  }

  img {
    border: 1px solid var(--color-light-gray);
    border-radius: 0.2em;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  a {
    padding: 0.5em 0;
    display: block;
  }
}

.establishment__content {
  margin-bottom: 2em;
  flex: 0 0 100%;

  @media (--breakpoint-md) {
    flex: 1 1 50%;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }
}

.establishment__button {
  background-color: var(--dark-primary-color);
  color: var(--color-white);
  width: 100%;
  justify-content: center;
  padding: 1em;
  transition: background-color var(--transition-enter-fast);

  &.is-open {
    background-color: var(--dark-secondary-color);
  }
}

.establishment__map-element {
  position: relative;
  height: 400px;

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.establishment__table {
  @mixin responsive-declaration font-size, 0.8em, 1em;

  clear: both;
  margin-top: 2em;
  margin-bottom: 1em;
}

.establishment__score {
  padding: 0.5em;
  color: var(--color-black);
  background-color: var(--color-lighter-gray);
  flex: 0 0 auto;
}

.establishment__table-button.is-open {
  background-color: var(--dark-secondary-color);
  color: var(--color-white);

  & .establishment__score {
    background-color: color(white alpha(-70%));
    color: white;
  }
}

.establishment__authority-label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0.5em;

  @media (--breakpoint-md) {
    width: 10em;
  }
}

.establishment__authority-content {
  display: inline-block;
  word-break: break-word;
}
