<div class="field field__field_content_promo promo-listing">
    <div class="promo-listing__item">
        <div class="promo-wrapper">
            <a href="#promo" class="field__field_content_promo__item field__field_content_promo__item--even bg_found">
                <div style="background-image: url(https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/NDawe_Bell_FSA_150318_314.jpg?itok=Flvhodjb)"
                    class="promo__background-image bg_found"></div>
                <div class="promo__content">
                    <h3 class="field field__field_title" id="subject-starting-up">Starting up</h3>
                    <div class="field field__field_intro">You will need to register and know how to manage your business.</div>
                </div>
            </a>
        </div>
    </div>
    <div class="promo-listing__item">
        <div class="promo-wrapper">
            <a href="#promo" class="field__field_content_promo__item field__field_content_promo__item--odd bg_found">
                <div style="background-image: url(https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/industry-kitchen-cooking.jpg?itok=0mt1BvR_)"
                    class="promo__background-image bg_found"></div>
                <div class="promo__content">
                    <h3 class="field field__field_title" id="subject-food-safety">Food safety </h3>
                    <div class="field field__field_intro">Knowing what you and your staff need to do to keep your food safe for consumption.</div>
                </div>
            </a>
        </div>
    </div>
    <div class="promo-listing__item">
        <div class="promo-wrapper">
            <a href="#promo" class="field__field_content_promo__item field__field_content_promo__item--even bg_found">
                <div style="background-image: url(https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/NDawe_Bell_FSA_150319_586.jpg?itok=encThel5)"
                    class="promo__background-image bg_found"></div>
                <div class="promo__content">
                    <h3 class="field field__field_title" id="subject-labelling">Labelling </h3>
                    <div class="field field__field_intro">You must make sure that you follow the correct labelling and packaging guidance and regulations. </div>
                </div>
            </a>
        </div>
    </div>
</div>