@import "../../helper/helper";
@import "../../helper/custom-property";

/* Global row wrapper */
.field__field_lander_row {
  margin-bottom: 0 !important;
}

/* Global row style */
.field__field_lander_row__item {
  @mixin responsive-declaration padding-top, 1.5em, 3em;
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  padding-bottom: 1em;

  &:last-child {
    padding-bottom: 0;
  }

  &.field__field_lander_row__item--odd {
    .theme--news-alerts & {
      background-color: transparent;
    }
  }

  .layout--with-sidebar & {
    @mixin responsive-declaration padding-top, 1em, 2em;

    max-width: var(--content-max-width);

    @media (--breakpoint-md) {
      padding-left: 0;
    }
  }

  .theme--frontpage .field__field_lander_row > &:first-child {
    @mixin responsive-declaration margin-bottom, 1em, 4em;
    @mixin responsive-declaration padding-top, 1.5em, 3em;
    @mixin responsive-declaration padding-right, 1em, 3em;
    @mixin responsive-declaration padding-bottom, 1em, 2em;
    @mixin responsive-declaration padding-left, 1em, 3em;

    background-color: var(--color-white);
    border-top: 4px solid var(--color-green);

    @media (--breakpoint-md) {
      margin-bottom: -4em;
      transform: translateY(-5em);
      margin-right: 3em;
      margin-left: 3em;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    }

    @media (--breakpoint-lg) {
      margin-right: 4em;
      margin-left: 4em;
      margin-top: -3.5em;
    }

    & > h2 {
      position: relative;
      display: inline-block;
      text-align: center;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -0.5em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23DEE2E5' /%3E%3C/svg%3E");
        background-repeat: repeat-x;
        background-size: 20px 15px;
        width: 80%;
        height: 10px;
        display: block;
        transform: translateX(-50%);
      }
    }
  }

  body.has-cms-toolbar.theme--frontpage .field__field_lander_row > &:first-child {
    @media (--breakpoint-md) {
      margin-bottom: 0;
      transform: translateY(0);
    }
  }
}

/* Global row heading style */
.field__field_lander_row__item .field__field_title__item,
.field__field_lander_row__item .field__field_topic_cloud__heading,
.views-element-container > h2 {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.75em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23DEE2E5' /%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 15px 15px;
    width: 3.5em;
    height: 10px;
    display: block;
    transform: translateX(-50%);
  }
}

/* Code block intro style */
.field__field_lander_row__item .paragraph--type-code-block .field__field_intro {
  @mixin responsive-declaration margin-bottom, 1em, 2em;

  text-align: center;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

/* Code block cta style */
.field__field_lander_row__item .paragraph--type-code-block .field__field_link {
  text-align: center;

  a {
    background-color: transparent;
    background-image: var(--icon-arrow-right-primary);
    background-position: left 0 top 50%;
    background-size: 1em auto;
    background-repeat: no-repeat;
    color: var(--primary-color);
    padding-left: 1.5em;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: none;

    :--not-touch &:--enter {
      background-color: transparent;
      text-decoration: underline !important;
    }
  }
}

/* Promo listing wrapper */
.promo-listing-wrapper {
  & > footer {
    padding-top: 1em;
    text-align: center;
  }
}

/* Promo listing */
.promo-listing-wrapper > .views-row-wrapper,
.promo-listing {
  margin-bottom: -1em !important;

  @media (--breakpoint-lg) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  body:not(.theme--lander) & {
    @mixin responsive-declaration padding-bottom, 2em, 3em;
  }
}

/* Promo listing item */
.promo-listing-wrapper > .views-row-wrapper > .views-row,
.promo-listing__item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 3);
  margin-bottom: 1em;

  @media (--breakpoint-md) {
    margin-bottom: 0;
  }

  & > * {
    height: 100%;

    @media (--breakpoint-md) {
      padding: 1em;
    }
  }

  .label__above {
    display: none;
  }
}

/* Promo listing items outputted by view */
.promo-listing-wrapper > .views-row-wrapper > .views-row {
  flex-basis: calc(100% / 4);
}

/* Promo wrapper */
.promo-wrapper {
  @media (--breakpoint-md) {
    padding: 1em;
  }

  &.promo-wrapper--full-height {
    @media (--breakpoint-md) {
      height: 100%;
    }
  }
}

/* Promo style */
.promo,
.field__field_content_promo__item {
  background-color: var(--color-lighter-blue);
  border: 4px solid var(--color-light-gray);
  position: relative;
  height: 100%;
  padding-bottom: 1em;
  transition: border-color var(--transition-enter);

  @media (--breakpoint-lg) {
    display: flex;
    flex-flow: column nowrap;
    background-position: right 2em bottom 2em;
  }

  /* Promo link list */
  .field__field_link_list {
    @mixin responsive-declaration padding-right, 1em, 2em;
    @mixin responsive-declaration padding-left, 1em, 2em;

    margin-bottom: 0;
  }

  /* Promo link */
  .field__field_link_list__item {
    a {
      position: relative;
      margin-left: 2em;
      display: block;

      @media (--breakpoint-sm) {
        margin-bottom: 0.5em;
      }

      &:before {
        content: '';
        background-image: var(--icon-arrow-right-primary);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 50% 50%;
        position: absolute;
        top: 0;
        left: -2em;
        display: block;
        width: 1.5em;
        height: 1.5em;
      }

      :--not-touch &:--enter {
        text-decoration: underline;
      }
    }
  }

  :--not-touch &:--enter {
    background-color: var(--color-white);

    .alert__type_badge {
      &:before {
        transform: scaleX(1);
      }
    }
  }
}

/* If promo is a link */
a.promo,
a.field__field_content_promo__item {
  display: flex;
  flex-flow: column;
  background-image: var(--icon-arrow-right-primary);
  background-repeat: no-repeat;
  background-size: 1.5em auto;
  background-position: right 1em bottom 1.25em;

  :--not-touch &:--enter {
    border-color: var(--dark-primary-color);
  }
}

.promo {
  @media (--breakpoint-lg) {
    height: 100%;
  }

  & > *:last-child:not(:only-child) {
    @media (--breakpoint-lg) {
      margin-top: auto;
    }
  }
}

/* Related promo */
.promo--related {
  margin: 0;
}

/* Promo with inline content */
.promo--inline-content {
  background: none;
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center;
  margin: 0;
  padding: 1em;
  margin-bottom: 1em;

  .field {
    margin-bottom: 0 !important;
  }

  a& {
    background-image: none;
  }
}

/* Light variation promo */
.promo--light {
  background-color: var(--color-white);
  border: 0;

  @media (--breakpoint-md) {
    margin: 0;
  }

  :--heading {
    @mixin reset-font-style;

    color: var(--color-black);
    margin-top: 0;
    margin-bottom: 1em;

    a {
      color: var(--color-black);
    }
  }
}

/* Large content promo */
.field__field_large_promo {
  @mixin responsive-declaration margin-right, -1em, -4em;
  @mixin responsive-declaration margin-left, -1em, -4em;

  margin-bottom: 0 !important;

  .promo__content {
    @media (--breakpoint-md) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
      min-height: 30em;
      height: 50vh;
    }

    .field__field_link {
      text-align: center;

      @media (--breakpoint-md) {
        text-align: left;
      }

      a {
        display: inline-block;
        text-align: center;
      }
    }
  }

  .field__field_title {
    margin-bottom: 1em;
  }

  .field__field_intro {
    @mixin reset-font-style;

    margin-top: 0;
  }
}

/* Large promo item */
.field__field_large_promo__item {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  @media (--breakpoint-md) {
    flex-flow: row nowrap;
  }
}

/* Promo icon */
.promo__icon {
  flex: 0 0 auto;
  position: relative;
  width: 3.5em;
  height: 3.5em;
  border-radius: 20em;
  background-color: var(--dark-primary-color);

  @media (--breakpoint-xs) {
    width: 4.5em;
    height: 4.5em;
  }

  @media (--breakpoint-md) {
    width: 5em;
    height: 5em;
  }

  .svg {
    width: 3.5em;
    height: 3.5em;
    transform: scale(0.75);

    @media (--breakpoint-xs) {
      width: 4.5em;
      height: 4.5em;
    }

    @media (--breakpoint-md) {
      width: 5em;
      height: 5em;
    }

    svg {
      transform:
        translateY(-50%)
        translateX(-50%)
        scale(0.9);
    }

    path {
      fill: var(--color-white);
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20em;
    transform:
      translateY(-50%)
      translateX(-50%)
      scale(0.75);
  }
}

/* Promo image */
.promo__background-image {
  background-position: 50% 50%;
  background-size: cover;

  .promo &,
  .field__field_content_promo__item & {
    height: 12em;
  }

  .field__field_large_promo & {
    height: 15em;

    @media (--breakpoint-xs) {
      height: 30em;
    }

    @media (--breakpoint-md) {
      flex: 0 0 50%;
      min-height: 30em;
      height: 50vh;
    }
  }

  .field__field_large_promo__item--odd & {
    @media (--breakpoint-md) {
      order: 100;
    }
  }
}

/* Promo content */
.promo__content {
  color: var(--color-black);

  .promo--inline-content & {
    margin-top: 0 !important;
    padding: 0;
  }

  :--not-touch .promo:--enter & {
    text-decoration: underline;
  }

  :--not-touch .promo--inline-content:--enter &,
  :--not-touch .promo--related:--enter & {
    text-decoration: none;
  }

  .field__field_large_promo__item--even & {
    background-color: var(--dark-secondary-color);
    color: var(--color-white);
  }
}

/* Promo type */
.promo__type {
  & > .field {
    position: relative;
    color: var(--color-gray);
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding-top: 0.25em;
    margin-bottom: 0.15em;

    @media (--breakpoint-md) {
      padding-top: 1em;
      margin-bottom: 1em;
    }

    &:before {
      content: '';
      position: absolute;
      top: -0.3em;
      left: 0;
      right: auto;
      width: 6em;
      height: 0.3em;
      display: block;
      background-color: var(--color-gray);
      transform: scaleX(1);
      transform-origin: 0 50%;
      transition: transform var(--transition-enter);

      @media (--breakpoint-lg) {
        right: 0;
        width: auto;
        transform: scaleX(0.5);
      }
    }

    &.field__field_news_type {
      color: var(--color-lighter-purple);

      &:before {
        background-color: var(--color-lighter-purple);
      }
    }

    &.field__field_consultations_type {
      color: var(--color-blue);

      &:before {
        background-color: var(--color-blue);
      }
    }

    &.field__field_alert_type {
      color: var(--color-red);

      &:before {
        background-color: var(--color-red);
      }
    }
  }

  .promo:--enter & > .field:before {
    transform: scaleX(1);
  }
}

/* Heading field */
.promo__heading {
  .promo--light & {
    font-family: var(--font-family-heading) !important;
    font-weight: 700 !important;
    color: var(--dark-primary-color);
  }

  .promo--inline-content & {
    color: var(--dark-primary-color);
  }
}

/* Heading */
.field__field_title,
.promo__heading {
  .promo &,
  .field__field_content_promo__item & {
    @mixin responsive-declaration padding-top, 1rem, 2rem;
    @mixin responsive-declaration padding-right, 1rem, 2rem;
    @mixin responsive-declaration padding-left, 1rem, 2rem;
    @mixin responsive-declaration padding-bottom, 0.5rem, 1rem;
    @mixin responsive-declaration font-size, 1.125em, 1.33em;
    @mixin responsive-declaration line-height, 1.2, 1.17;

    margin-top: 0;
    margin-bottom: 0;
  }

  .field__field_large_promo__item & {
    @mixin responsive-declaration padding-top, 2rem, 3rem;
    @mixin responsive-declaration padding-right, 1rem, 5rem;
    @mixin responsive-declaration padding-left, 1rem, 5rem;
  }

  .promo--inline-content & {
    padding-top: 0;
    padding-bottom: 0.5em;
  }

  :--not-touch .promo--related:--enter & {
    text-decoration: underline;
  }
}

/* Promo date */
.promo__date,
.field__field_alert_modified {
  color: var(--color-gray);
  font-size: 0.8889em;
  margin-bottom: 0 !important;

  & > span {
    display: inline-block;
    margin-bottom: 0 !important;
  }

  a.promo &,
  a.field__field_content_promo__item & {
    padding-right: 4em;
  }
}

/* Intro */
.promo__intro,
.field__field_intro {
  .promo &,
  .field__field_content_promo__item & {
    @mixin reset-font-style;
    @mixin responsive-declaration padding-right, 1em, 2em;
    @mixin responsive-declaration padding-left, 1em, 2em;
    @mixin responsive-declaration padding-bottom, 1rem, 2rem;

    margin-top: 0 !important;

    .field__field_intro {
      padding: 0;
    }
  }

  .field__field_large_promo__item & {
    @mixin responsive-declaration padding-right, 1em, 5em;
    @mixin responsive-declaration padding-left, 1em, 5em;

    padding-bottom: 1rem !important;

    @media (--breakpoint-sm) {
      padding-bottom: 2rem !important;
    }
  }

  .promo--inline-content & {
    padding-bottom: 0;
    display: none;

    @media (--breakpoint-md) {
      display: block;
    }
  }
}

/* Promo link */
.field__field_link {
  .field__field_large_promo__item & {
    @mixin responsive-declaration padding-right, 1rem, 5rem;
    @mixin responsive-declaration padding-left, 1rem, 5rem;
    @mixin responsive-declaration padding-bottom, 2rem, 3rem;
  }

  .field__field_large_promo__item--even & {
    a {
      background-color: var(--color-white);
      color: var(--dark-primary-color);

      :--not-touch &:--enter {
        background-color: var(--dark-primary-color);
        color: var(--color-white);
      }
    }
  }
}

/* Promo read more */
.promo__read-more {
  margin-top: 0 !important;
  margin-left: auto;
  padding: 1em;

  .svg {
    width: 2em;
    height: 2em;
  }
}

/* Icon link list */
.field__field_icon_link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0 !important;

  @media (--breakpoint-lg) {
    justify-content: center;
  }

  .field__field_icon_link__item {
    flex: 0 1 50%;
    padding: 1em;
    margin-bottom: 1em;

    @media (--breakpoint-xs) {
      flex: 0 1 33.33%;
    }

    @media (--breakpoint-md) {
      flex: 0 1 25%;
    }

    @media (--breakpoint-lg) {
      flex: 0 1 13%;
    }

    a {
      border: 0 !important;
      text-align: center;
      font-weight: 600;
      font-size: 0.8999em;
      color: var(--color-dark-blue);

      :--not-touch &:--enter {
        color: var(--dark-primary-color);
        text-decoration: underline;
      }
    }

    .field__field_icon {
      margin-bottom: 0.5em;

      @media (--breakpoint-md) {
        margin-bottom: 1.5em;
      }
    }
  }

  .svg {
    @mixin responsive-declaration width, 5em, 7em;
    @mixin responsive-declaration height, 5em, 7em;

    background-color: var(--dark-primary-color);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    transition: background-color var(--transition-enter);

    :--not-touch &:--enter {
      background-color: var(--darker-primary-color);
    }

    svg {
      transform: translateY(-50%) translateX(-50%) scale(0.6);

      path {
        fill: var(--color-white);
      }
    }
  }
}

/* Topic cloud */
.field__field_topic_cloud {
  margin-bottom: 0 !important;

  & > div {
    @mixin responsive-declaration margin-left, -1em, -1.5em;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    margin-left: -1em;

    @media (--breakpoint-xs) {
      flex-flow: row wrap;
    }
  }
}

.field__field_topic_cloud__item {
  @mixin responsive-declaration margin-left, 1em, 1.5em;
  @mixin responsive-declaration margin-bottom, 1em, 1.5em;

  flex: 1 1 1;

  @media (--breakpoint-xs) {
    width: calc(50% - 1.5em);
    max-width: none;
    min-width: 0;
  }

  @media (--breakpoint-sm) {
    flex: 1 1 0;
    max-width: 30em;
    max-width: calc(16.6% - 1.5em);
    min-width: 11em;
  }

  a {
    padding: 0.75em 1em;
    background-color: var(--dark-primary-color);
    color: var(--color-white);
    font-weight: 400;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: box-shadow var(--transition-enter);

    :--not-touch &:--enter {
      background-color: var(--darker-primary-color);
    }
  }
}

/* Subject listing */
.field__field_subject_listing__item {
  &:not(:last-child) {
    @mixin responsive-declaration margin-bottom, 1em, 2em;

    border-bottom: 1px solid var(--color-light-gray);
  }

  .field__field_title {
    @mixin responsive-declaration font-size, 1.8em, 2em;
    @mixin responsive-declaration line-height, 1.2, 1.1;

    margin-bottom: 0.5em;
  }

  .field__field_intro {
    @mixin reset-font-style;
  }

  .field__field_link_list__heading {
    @mixin reset-font-style;

    font-weight: 700;
  }

  .field__field_link_list__item {
    a {
      background-image: var(--icon-arrow-right-primary);
      background-position: left 0 top 50%;
      background-size: 1.5em auto;
      background-repeat: no-repeat;
      padding-left: 2em;
      font-weight: 600;
      display: block;

      @media (--breakpoint-sm) {
        margin-bottom: 0.5em;
      }

      :--not-touch &:--enter {
        text-decoration: underline;
      }
    }
  }
}
