<div class="field__field_subject_listing__item field__field_subject_listing__item--odd">
  <h3 class="field field__field_title">Animal feed</h3>
  <div class="field field__field_intro">We aim to help protect consumer and animal health and make sure that those buying the feed have enough information to make
    informed choices.</div>
  <div class="field field__field_link_list">
    <h4 class="field__field_link_list__heading label__above">In this section</h4>
    <div>
      <div class="field__field_link_list__item field__field_link_list__item--even">
        <a href="#link-list">Milk hygiene and antibiotic residues</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--odd">
        <a href="#link-list">Raw drinking milk </aa>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--even">
        <a href="#link-list">Raw cows' drinking milk</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--odd">
        <a href="#link-list">Managing farm manures for food safety</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--even">
        <a href="#link-list">Food chain information</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--odd">
        <a href="#link-list">Cleaner cattle and sheep</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--even">
        <a href="#link-list">Poultry farming guidance</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--odd">
        <a href="#link-list">Health certificate for farmed game animals</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--even">
        <a href="#link-list">Pesticides in food</a>
      </div>
      <div class="field__field_link_list__item field__field_link_list__item--odd">
        <a href="#link-list">Mycotoxins</a>
      </div>
    </div>
  </div>
</div>
